* {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 5%;
  width: 90%;
}

h1, h2, h3, h4 {
  color: #434B63;
  font-family: 'Montserrat', 'Lato', sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
}

p, li {
  font-family: 'Red Hat Text';
}

ul {
  list-style-type: none;
}
ul li:before {
  content: "";
  border-color: transparent #434B63;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}

ol {
  list-style: none;
  counter-reset: listCounter;
}
ol li {
  counter-increment: listCounter;
}
ol li::before {
  content: counter(listCounter) ". ";
  color: #434B63;
  font-weight: bold;
  font-size: 500%;
}

ul, ol {
  margin-left: 5%;
}

.processHeader {
  font-size: 2em;
  display: inline-block;
}

.NDA {
  font-size: 1.5em;
  float: right;
  color: white;
  background-color: #951003;
  border-radius: 5px;
  padding: 5px;
}


