@media only screen and (max-width: 400px) {
  .resumeHeader #text {
    width: 85%; }

  #landingCaption {
    width: 85%;
    margin-left: 5%; }

  #searchForm #query {
    font-size: 110%;
    width: 80%;
    padding-bottom: 12px; }

  #searchBar {
    min-height: 50px; }

  .FilterBKG + p {
    font-size: 80%; }

  .projCoverPhoto {
    top: 0; }

  #fooyaCoverIMG {
    top: -40px; }

  .content p.projDescription {
    margin-bottom: 15%; }

  .contactBox button {
    margin-left: 0; }
    .contactBox button p {
      font-size: 1.2em; }
      .contactBox button p:before {
        width: 15px;
        height: 15px;
        top: 0; }

  .proj.expanded button.projClose .ClosingX {
    padding-right: 5px; } }
@media only screen and (min-width: 650px) {
  #menu-container {
    width: 80%;
    height: auto;
    position: static;
    background-color: #FFF;
    text-align: right;
    box-sizing: border-box;
    float: right;
    padding-top: 3%;
    padding-right: 2%; }
    #menu-container a li {
      width: auto;
      padding: 0; }
      #menu-container a li div {
        font-size: 60%;
        border: 1px solid #434B63;
        transform: skew(-20deg); }
        #menu-container a li div h2 {
          color: #434B63;
          padding: 6px 14px;
          transform: skew(20deg); }

  .current-page {
    background: none; }
    .current-page div {
      background-color: #dee2e6;
      transform: skew(20deg); }
      .current-page div h2 {
        transform: skew(20deg); }

  #designSection:after {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -10;
    background-color: black;
    content: ''; }
  #designSection p {
    width: 40%; }

  #designHeader {
    margin-right: 30%; }

  #homelink img {
    width: 40%;
    height: auto; }

  .mobileSVG {
    display: none; }

  .tabletSVG {
    display: block; }

  #filterGrid, #sortGrid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    transform: skew(-20deg); }

  #leadershipHeader {
    margin-top: -20%; }

  #missionBKG {
    -webkit-clip-path: polygon(0% 0, 95% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0% 0, 95% 0%, 80% 100%, 0% 100%); }

  #missionText {
    width: 70%;
    margin-left: 5%; }

  #missionHeader {
    margin-left: 5%; }

  .FilterLabel {
    width: 100%;
    grid-column: auto;
    transform: skew(20deg); }

  .selectorButton:last-of-type {
    width: 100%; }

  .FilterBKG {
    width: 95%;
    transform: skew(-20deg); }

  .gallery {
    grid-template-columns: 40vw 40vw; }
    .gallery.pushedDown {
      top: 215px; }

  #artContent .gallery.pushedDown {
    top: 150px; }

  .proj {
    width: 100%; }
    .proj .projContent .metaContainer {
      grid-template-columns: 1fr 1fr; }
    .proj .projContent .NDAinfo {
      bottom: 15%; }
    .proj .projContent #dreamOnSoundsGrid {
      grid-template-columns: repeat(2, 1fr); }
      .proj .projContent #dreamOnSoundsGrid img {
        width: auto;
        height: 92%; }
    .proj .projContent #dreamOnDiaryGrid, .proj .projContent #dreamOnDreamGrid {
      grid-template-columns: repeat(2, 1fr); }
      .proj .projContent #dreamOnDiaryGrid .mobileMockupCell:last-child, .proj .projContent #dreamOnDreamGrid .mobileMockupCell:last-child {
        grid-column: 1 / 3; }
    .proj .projContent .stickersGrid {
      grid-template-columns: 1fr 1fr; }

  .artPiece.expanded.square img {
    height: 80vh;
    width: auto; }
  .artPiece.expanded.wide img {
    margin-top: 10vh; }
  .artPiece.expanded#ApocaBliss img {
    margin-top: 30vh; }

  #improvedDreamOnStep {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 98%, 100% 2.5%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 98%, 100% 2.5%); }

  .projGridCell {
    width: 40vw; }
    .projGridCell .projFlipper {
      width: 100%; }

  #contactHeader {
    font-size: 250%;
    margin-top: 30px; }

  .contactBox {
    width: 60%; }

  #emailContact {
    background-image: url(../svg/contact/email-large.svg);
    margin-top: 120px; }

  #phoneContact {
    float: right;
    background-image: url(../svg/contact/phone-large.svg);
    padding-bottom: 12%; }

  #toggle {
    display: none; }

  #close {
    display: none; }

  #menu ul li {
    margin: 10px;
    margin-bottom: 5px;
    border: 0;
    display: inline-block; }

  #footer-logo {
    left: 35%;
    bottom: 0;
    top: 0; }

  #skills-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px; }
    #skills-grid .grid-cell {
      grid-column: 1 / 2; }
    #skills-grid .grid-cell:nth-of-type(2n) {
      grid-column: 2 / 3;
      grid-column-gap: 5px; }

  .two-disp-grid {
    grid-template-columns: 1fr 1fr; }

  #titleLink {
    width: 20%; }

  .titleBar {
    position: relative; }

  #query {
    width: 90%; } }
@media only screen and (min-width: 800px) {
  #developSection canvas {
    min-width: 100vw; }

  .proj .projContent .subProcess img.wideBoi {
    left: 0;
    width: 100%;
    height: auto; } }
@media only screen and (min-width: 1000px) {
  .desktopSVG {
    display: block; }

  .tabletSVG {
    display: none; }

  .content {
    margin-bottom: 5%; }
    .content#contactContent {
      padding: 100px 3%;
      width: 94%; }
    .content#homeContent {
      margin-bottom: 0;
      background-color: #101E2E;
      position: relative; }

  #filterGrid, #sortGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 6px;
    padding-right: 5px; }

  #filterGrid {
    grid-template-columns: repeat(6, 1fr); }
    #filterGrid .FilterLabel {
      grid-column: span 2; }
    #filterGrid .selectorButton:nth-last-of-type(2), #filterGrid .selectorButton:last-of-type {
      grid-column: span 3; }

  .gallery.pushedDown {
    top: 165px; }

  .selectorButton {
    width: 103%; }

  .projGridCell {
    width: 40vw; }

  .proj .projContent {
    padding-left: 10%; }
    .proj .projContent img {
      left: 0;
      width: 85%; }
    .proj .projContent p {
      width: 70%; }
    .proj .projContent .mobileMockupCell:not(:only-child) {
      margin-right: 5px; }
      .proj .projContent .mobileMockupCell:not(:only-child) img {
        height: 92%;
        width: auto; }
    .proj .projContent #dreamOnD1Grid, .proj .projContent #dreamOnDiaryGrid, .proj .projContent #dreamOnDreamGrid {
      grid-template-columns: repeat(3, 1fr); }
      .proj .projContent #dreamOnD1Grid .mobileMockupCell, .proj .projContent #dreamOnDiaryGrid .mobileMockupCell, .proj .projContent #dreamOnDreamGrid .mobileMockupCell {
        height: auto; }
      .proj .projContent #dreamOnD1Grid .mobileMockupCell:last-child, .proj .projContent #dreamOnDiaryGrid .mobileMockupCell:last-child, .proj .projContent #dreamOnDreamGrid .mobileMockupCell:last-child {
        grid-column: auto; }
      .proj .projContent #dreamOnD1Grid img, .proj .projContent #dreamOnDiaryGrid img, .proj .projContent #dreamOnDreamGrid img {
        height: auto;
        width: 100%; }

  .artPiece.square img {
    top: -35%; }
  .artPiece.expanded.square img {
    height: 80vh;
    width: auto;
    top: 0; }
  .artPiece.expanded.wide img {
    margin-top: 5vh;
    width: 90vw; }

  #improvedDreamOnStep {
    left: -12%;
    width: 108%;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 98%, 100% 5%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 98%, 100% 5%); }

  .proj.expanded {
    background-color: transparent;
    background-color: #C3CCD6;
    background-color: rgba(195, 204, 214, 0.3);
    box-shadow: none; }
    .proj.expanded .projInfo {
      background-color: white;
      width: 80vw;
      left: 10vw; }
    .proj.expanded + .projBodyCover {
      display: inline-block;
      opacity: 1; }

  #skills-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px; }
    #skills-grid .grid-cell:nth-of-type(2n+5) {
      grid-column: 3 / 4; }
    #skills-grid .grid-cell:nth-of-type(2n+6) {
      grid-column: 4 / 5; }
    #skills-grid .grid-cell:nth-of-type(5) {
      grid-row: 1 / 2; }
    #skills-grid .grid-cell:nth-of-type(6) {
      grid-row: 1 / 2; }

  #homelink img {
    width: 70%; }

  #landingCanvasContainer canvas {
    max-height: 40vw;
    max-width: 60vw; }

  #landingCaption {
    background-color: #101E2E;
    top: initial;
    bottom: 0;
    width: 50vw;
    margin-left: 0;
    padding: 5% 0;
    padding-top: 15%;
    -webkit-clip-path: polygon(0% 0%, 0 100%, 100% 100%, 80% 0%);
    clip-path: polygon(0% 0%, 0 100%, 100% 100%, 80% 0%); }
    #landingCaption h1 {
      font-size: 2.5em; }
    #landingCaption h2 {
      font-size: 1.9em; }
    #landingCaption h1, #landingCaption h2, #landingCaption #breakThings {
      color: white;
      margin-left: 10%; }
    #landingCaption #breakThings {
      border: none;
      background-color: #B3BBC5;
      color: #101E2E; }

  #designSection {
    width: 50vw;
    height: auto;
    float: left; }
    #designSection:after {
      display: none; }
    #designSection p {
      width: 30%; }

  #designCanvasContainer {
    clip-path: polygon(0% 2%, 0% 100%, 100% 83%, 100% 0%, 15% 0%);
    -webkit-clip-path: polygon(0% 5%, 0% 100%, 100% 83%, 100% 0%, 7% 0%);
    width: 100vw;
    z-index: 0; }

  #designHeader {
    margin-right: 20%; }

  #developSection {
    width: 50vw;
    top: 100px;
    background-color: #354557;
    height: 800px; }
    #developSection:before {
      display: none; }
    #developSection canvas {
      min-width: 50vw;
      max-height: 800px; }
    #developSection svg {
      left: -1px;
      bottom: -1px; }
      #developSection svg polygon {
        display: none; }
      #developSection svg path {
        fill: white;
        fill: #101E2E;
        display: initial; }

  #developCanvasContainer {
    width: 50vw;
    top: 0;
    top: 15%;
    border-radius: 15px 0; }

  #leadershipSection {
    padding-top: 0;
    width: 60vw;
    background-color: #B3BBC5;
    -webkit-clip-path: polygon(0% -42%, 75% 0%, 100% 50%, 80% 100%, 0% 100%);
    clip-path: polygon(0% -42%, 75% 0%, 100% 50%, 80% 100%, 0% 100%); }
    #leadershipSection:before {
      position: absolute;
      z-index: -20;
      content: '';
      top: -500px;
      height: 500px;
      width: 60vw;
      background-color: #B3BBC5; }

  #leadershipHeader {
    margin-top: 0; }

  #finalLandingSection {
    top: -100px;
    color: #B3BBC5; }
    #finalLandingSection #fullLogo {
      margin-right: 0;
      background-image: url(../img/brand/FullLightExploding.png);
      background-repeat: no-repeat;
      max-width: 80%;
      height: 500px; }
    #finalLandingSection h2 {
      color: #B3BBC5;
      display: block;
      margin: auto;
      width: -moz-fit-content;
      width: fit-content;
      padding-bottom: 0;
      margin-top: 5%; }
      #finalLandingSection h2:before {
        display: none; }
    #finalLandingSection a {
      color: #B3BBC5;
      padding-right: 33%; }
      #finalLandingSection a:after {
        border-color: #B3BBC5; }

  #egoSection {
    width: 66%;
    margin-left: 20%;
    background-color: #101E2E;
    color: white;
    line-height: 1.4em; }

  #skillsContainer .resumeContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column; }

  .skillSection {
    display: initial; }

  #titleLink {
    width: 20%; }

  #contactHeader {
    padding-left: 82%; }

  .contactBox {
    width: 40%;
    box-sizing: border-box;
    margin: 100px 3% 0; }

  #emailContact {
    padding-bottom: 7%;
    margin-top: 100px;
    margin-right: 0; }
    #emailContact h2 {
      margin-top: 20%; }

  #phoneContact {
    background-position: right bottom;
    margin-left: 0;
    margin-right: 7%; }
    #phoneContact h2 {
      margin-top: 0; } }
@media only screen and (min-width: 1200px) {
  .proj .projContent .mobileMockupCell {
    max-height: 800px; } }

/*# sourceMappingURL=responsive.css.map */
