* {
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a [href$=".pdf"] {
    background-image: url(./static/img/pdf-icon); }
  a :hover {
    text-decoration: underline; }

.labelSkewer {
  transform: skew(20deg);
  padding: 7px 0 7px 50px; }

.FilterLabel {
  border: 1px solid #434B63;
  transform: skew(-20deg);
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#filterGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2px;
  grid-column-gap: 4px; }

/* Hide the browser's default checkbox */
.FilterLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35px;
  transform: skew(-20deg);
  background-color: #FFF;
  /* Create the checkmark/indicator (hidden when not checked) */ }
  .checkmark:before {
    content: "";
    position: absolute;
    display: none;
    left: 12px;
    top: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(50deg) skew(20deg);
    -ms-transform: rotate(50deg) skew(20deg);
    transform: rotate(50deg) skew(20deg); }

/* When the checkbox is checked, add a blue background */
.labelSkewer input:checked ~ .checkmark {
  background-color: #434B63; }

/* Show the checkmark when checked */
.labelSkewer input:checked ~ .checkmark:before {
  display: block; }

p, b, div {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: 300; }

div {
  display: inline-block; }

header {
  z-index: 5;
  top: 0;
  width: 100vw;
  position: absolute;
  background-color: white;
  -webkit-transition: all 400ms;
  transition: all 400ms; }

h3 {
  color: #434B63;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 190%;
  font-weight: 300; }

h4 {
  color: #434B63;
  -webkit-text-fill-color: #434B63;
  -moz-text-fill-color: #434B63;
  font-size: 16pt;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 400; }

h5 {
  text-decoration: underline; }

ul {
  list-style-type: none; }

@keyframes headerFadeIn {
  from {
    background-color: white;
    top: -200px; }
  to {
    position: fixed;
    top: 0px;
    z-index: 5; } }
@-webkit-keyframes webKitHeaderFadeIn {
  0% {
    background-color: white;
    top: -200px; }
  100% {
    position: fixed;
    top: 0px;
    z-index: 5; } }
.fixedHeader {
  animation: headerFadeIn 500ms forwards;
  position: fixed;
  z-index: 5;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  box-shadow: 0px 3px 10px #d3d3d3; }

#toggle {
  display: inline-block;
  float: right;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 30px 8%;
  width: 120px; }

#close {
  color: #FFF;
  text-align: right;
  cursor: pointer;
  padding: 34px 8vw;
  float: right; }
  #close #toggleLine4 {
    position: relative;
    transform: skew(-50deg);
    top: 3px; }
  #close .lineOver#toggleLine4 {
    -webkit-animation: rotateNegativeFortyFive 1.5s forwards;
    animation: rotateNegativeFortyFive 1.5s forwards; }
  #close #toggleLine5 {
    position: relative;
    top: -5px;
    transform: skew(-50deg); }
  #close .lineOver#toggleLine5 {
    -webkit-animation: rotateFortyFive 1.5s forwards;
    animation: rotateFortyFive 1.5s forwards; }

#titleLink {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-text-fill-color: #434B63;
  -moz-text-fill-color: #434B63;
  -webkit-opacity: 1;
  -moz-opacity: 1; }
  #titleLink h1 {
    font-family: 'Montserrat', 'Lato', sans-serif;
    display: inline-block;
    font-size: 120%; }
  #titleLink img {
    height: 70px;
    margin: auto;
    padding: 10px 10px 0 15px; }
  #titleLink #toggleSVG {
    width: 50px;
    height: 20px; }
  #titleLink #skewBlock {
    background-color: white;
    transform: skew(-50deg);
    width: 100px;
    height: 100px;
    clear: right;
    position: relative;
    top: 100px;
    left: -50px;
    box-shadow: 0px 3px 10px #d3d3d3; }

.singleToggleLine {
  width: 50px;
  height: 3px;
  transform: skew(50deg);
  background-color: #434B63;
  display: block;
  margin: 4px 0; }

.lineUnder {
  position: relative; }

.lineUnder#toggleLine1 {
  top: 7px;
  -webkit-animation: rotateNegativeFortyFive 600ms forwards;
  animation: rotateNegativeFortyFive 600ms forwards; }

#toggleLine2 {
  transform: skew(-50deg); }

.lineUnder#toggleLine2 {
  -webkit-animation: rotateFortyFive 600ms forwards;
  animation: rotateFortyFive 600ms forwards; }

.lineUnder#toggleLine3 {
  top: -7px;
  -webkit-animation: rotateNegativeFortyFive 600ms forwards;
  animation: rotateNegativeFortyFive 600ms forwards; }

.lineOver {
  background-color: white;
  clear: both; }

@keyframes rotateNegativeFortyFive {
  to {
    -webkit-transform: rotate(-45deg) skew(-50deg);
    transform: rotate(-45deg) skew(-50deg); } }
@keyframes rotateFortyFive {
  to {
    -webkit-transform: rotate(45deg) skew(-50deg);
    transform: rotate(45deg) skew(-50deg); } }
#resume {
  height: 70vh;
  margin-bottom: 20vh; }

#resume-embed {
  width: 100%;
  height: 100%; }

#resume-footer {
  margin-top: 30%; }

#languages {
  margin-left: 10%; }

#thoughts-header {
  text-align: center;
  color: #000; }

#thoughts-header-ctn {
  background-image: url(../img/penPaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 50%;
  line-height: 35vh;
  margin-bottom: 10%;
  border-radius: 10px; }

#footer-logo {
  display: inline-block;
  margin: auto;
  width: 30%;
  position: absolute;
  bottom: 15%;
  left: 30%; }

#cpp-box {
  background: url(../img/cpp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#python-box {
  background-image: url(../img/Python.png); }

#html-box {
  background-image: url(../img/html5.png);
  margin-top: 5px;
  height: 60%; }

#css-box {
  background-image: url(../img/sass.png); }

#js-box {
  background-image: url(../img/JavaScript-logo.png); }

#ai-box {
  background-image: url(../img/illustratorLogo.png);
  height: 65%; }

#ps-box {
  background-image: url(../img/photoshop.png);
  height: 65%; }

#sql-box {
  background-image: url(../img/sqlIcon.png);
  height: 65%; }

#phone-box {
  background-image: url(../img/phoneIcon.png); }

.titleBar {
  box-sizing: border-box;
  display: inline-block;
  background-color: #434B63;
  border-style: solid;
  border-width: 0px;
  width: 100%;
  color: #FFF;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 2em;
  transition: all 400ms; }

#menu-container {
  display: inline-block;
  position: fixed;
  top: 0px;
  width: 50vw;
  height: 100vh;
  z-index: 10;
  transition: all 600ms;
  background-color: #2e3445;
  font-family: 'Montserrat', 'Lato', sans-serif;
  color: #FFF; }
  #menu-container a {
    color: #FFF; }
    #menu-container a :hover h2 {
      text-decoration: underline; }
    #menu-container a li {
      font-size: 14pt;
      padding: 10%;
      border-bottom: 1px solid white; }
      #menu-container a li h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
    #menu-container a #navhome {
      border-top: 1px solid white;
      clear: right; }

.current-page {
  background-color: #B3BBC5;
  color: #434B63; }

.bodyCover {
  display: inline-block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 7;
  height: 100vh;
  width: 100vw;
  transition: all 100ms;
  background-color: rgba(169, 169, 169, 0.5); }

.hidden {
  display: none; }

.hiddenRight {
  right: -1000px; }

.openNav {
  right: 0px; }

.content {
  transition: all 400ms;
  width: 80%;
  position: relative;
  margin: 15% 10%; }
  .content #profpic {
    position: relative;
    float: right;
    width: 40%;
    margin-left: 5%;
    max-width: 330px; }
    .content #profpic img {
      width: 100%;
      border-radius: 5px; }
  .content p {
    width: 100%;
    text-indent: 5%; }

#ProjectComponent {
  width: 100%; }

#FilterManager {
  width: 100%; }

#searchBar {
  width: 100%;
  height: 50px;
  background-color: #d0d5db;
  margin: 3% auto;
  position: relative;
  transform: skew(20deg); }

#query {
  width: 80%;
  font-size: 130%;
  position: absolute;
  left: 20px;
  transform: skew(-30deg);
  border: none;
  background-color: #d0d5db;
  padding: 10px 0 10px 5px;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 300;
  color: #434B63;
  margin-top: 2px; }

#query:hover {
  background-color: #edeff1; }

#query:focus {
  background-color: #FFF; }

#searchBar:hover {
  background-color: #dee2e6; }

::placeholder {
  color: #2e3445;
  opacity: 0.75; }

.disp-grid {
  grid-row-gap: 10px;
  display: grid; }
  .disp-grid #skills-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 8); }
  .disp-grid #contact-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2); }

.two-disp-grid {
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: 1fr; }

.grid-cell {
  width: 80%;
  margin: auto;
  max-width: 420px;
  display: block;
  box-shadow: 0px 0px 5px rgba(141, 141, 139, 0.75);
  border-radius: 5px;
  position: relative; }

.grid-cell:hover {
  box-shadow: 0px 0px 10px rgba(141, 141, 139, 0.75); }

.sub-grid-cell {
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #FFF;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434B63; }

.bkg-cell {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center; }
  .bkg-cell img {
    width: 20%; }

.footer-nav {
  width: 40%;
  margin: 3%; }
  .footer-nav ul {
    list-style-type: none; }
    .footer-nav ul li {
      padding: 1px; }

.footer-info {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
  margin: 3%;
  text-align: right;
  line-height: 100%; }

footer {
  box-sizing: border-box;
  position: relative;
  background-color: #FFF;
  border-style: solid;
  border-color: #434B63;
  border-width: 0px;
  border-top-width: 1px;
  width: 100%;
  color: #434B63;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 10pt;
  margin: auto;
  margin-top: 20%; }
  footer img {
    display: inline-block;
    margin: auto;
    width: 30%;
    position: absolute;
    bottom: 15%;
    left: 30%; }

/*# sourceMappingURL=main.css.map */
