* {
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a[download] {
    margin-left: 35px;
    position: relative;
    color: #434B63;
    font-size: 1.2em; }
    a[download]:hover {
      text-decoration: underline; }
    a[download]:before {
      content: '';
      background-image: url(../img/icon/downloadIconDark.png);
      position: absolute;
      height: 30px;
      width: 30px;
      background-size: cover;
      left: -35px;
      bottom: -4px; }

p, div {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: 300; }

div {
  display: inline-block; }

header {
  z-index: 5;
  top: 0;
  width: 100vw;
  position: absolute;
  -webkit-transition: all 400ms;
  transition: all 400ms; }

#headerSVG {
  position: absolute;
  z-index: -5;
  -webkit-transition: all 400ms;
  transition: all 400ms; }
  #headerSVG polygon {
    fill: white; }

.tabletSVG, .desktopSVG {
  display: none; }

h1, h2 {
  font-family: 'Montserrat', 'Lato', sans-serif; }

h1 {
  color: #434B63;
  font-size: 250%;
  font-weight: 300; }

h3 {
  color: #434B63;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 190%;
  font-weight: 300; }

h4 {
  color: #434B63;
  -webkit-text-fill-color: #434B63;
  -moz-text-fill-color: #434B63;
  font-size: 16pt;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 400; }

h5 {
  text-decoration: underline; }

input[type="checkbox"] {
  height: auto;
  width: auto; }

ul {
  list-style-type: none; }

button {
  padding: 5px 10px;
  margin: 5px;
  font-family: 'Montserrat', 'Lato', sans-serif;
  cursor: pointer;
  background-color: white;
  border-radius: 5px; }
  button:hover {
    text-decoration: underline; }

@keyframes headerFadeIn {
  from {
    background-color: white;
    top: -200px; }
  to {
    position: fixed;
    top: 0px;
    z-index: 5; } }
@-webkit-keyframes webKitHeaderFadeIn {
  0% {
    background-color: white;
    top: -200px; }
  100% {
    position: fixed;
    top: 0px;
    z-index: 5; } }
#menuEntry {
  z-index: 20;
  position: absolute;
  top: 0; }

.fixedHeader {
  animation: headerFadeIn 500ms forwards;
  position: fixed;
  z-index: 5;
  -webkit-transition: all 400ms;
  transition: all 400ms; }
  .fixedHeader #headerSVG {
    -webkit-filter: drop-shadow(0px 3px 10px #d3d3d3);
    filter: drop-shadow(0px 3px 10px #d3d3d3); }

#toggle {
  display: inline-block;
  float: right;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 30px 8%;
  width: 120px; }

#close {
  color: #FFF;
  text-align: right;
  cursor: pointer;
  padding: 34px 8vw;
  float: right; }
  #close #toggleLine4 {
    position: relative;
    transform: skew(-50deg);
    top: 3px; }
  #close .lineOver#toggleLine4 {
    -webkit-animation: rotateNegativeFortyFive 1.5s forwards;
    animation: rotateNegativeFortyFive 1.5s forwards; }
  #close #toggleLine5 {
    position: relative;
    top: -5px;
    transform: skew(-50deg); }
  #close .lineOver#toggleLine5 {
    -webkit-animation: rotateFortyFive 1.5s forwards;
    animation: rotateFortyFive 1.5s forwards; }

#titleLink {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-text-fill-color: #434B63;
  -moz-text-fill-color: #434B63;
  -webkit-opacity: 1;
  -moz-opacity: 1; }
  #titleLink h1 {
    font-family: 'Montserrat', 'Lato', sans-serif;
    display: inline-block;
    font-size: 120%; }
  #titleLink img {
    height: 70px;
    margin: auto;
    padding: 10px 10px 0 15px; }
  #titleLink #toggleSVG {
    width: 50px;
    height: 20px; }
  #titleLink #skewBlock {
    background-color: white;
    transform: skew(-50deg);
    width: 100px;
    height: 100px;
    clear: right;
    position: relative;
    top: 100px;
    left: -50px;
    box-shadow: 0px 3px 10px #d3d3d3; }

.singleToggleLine {
  width: 50px;
  height: 3px;
  transform: skew(50deg);
  background-color: #434B63;
  display: block;
  margin: 4px 0; }

.singleToggleLine.posFortyFive {
  -webkit-transform: rotate(45deg) skew(-50deg);
  transform: rotate(45deg) skew(-50deg);
  position: relative;
  top: -5px; }

.singleToggleLine.negFortyFive {
  -webkit-transform: rotate(-45deg) skew(-50deg);
  transform: rotate(-45deg) skew(-50deg);
  position: relative;
  top: 3px; }

.lineUnder {
  position: relative; }

.lineUnder#toggleLine1 {
  top: 7px;
  -webkit-animation: rotateNegativeFortyFive 600ms forwards;
  animation: rotateNegativeFortyFive 600ms forwards; }

#toggleLine2 {
  transform: skew(-50deg); }

.lineUnder#toggleLine2 {
  -webkit-animation: rotateFortyFive 600ms forwards;
  animation: rotateFortyFive 600ms forwards; }

.lineUnder#toggleLine3 {
  top: -7px;
  -webkit-animation: rotateNegativeFortyFive 600ms forwards;
  animation: rotateNegativeFortyFive 600ms forwards; }

.lineOver {
  background-color: white;
  clear: both; }

@keyframes rotateNegativeFortyFive {
  to {
    -webkit-transform: rotate(-45deg) skew(-50deg);
    transform: rotate(-45deg) skew(-50deg); } }
@keyframes rotateFortyFive {
  to {
    -webkit-transform: rotate(45deg) skew(-50deg);
    transform: rotate(45deg) skew(-50deg); } }
.canvasCover {
  width: 100%;
  height: 80vw;
  position: absolute;
  z-index: 5; }

.canvasContainer {
  display: flex; }

#landingCanvasContainer {
  -webkit-box-align: end;
  align-items: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 50px;
  max-height: 80vw;
  width: 100vw; }

#designCanvasContainer {
  min-height: 450px;
  width: 100vw;
  position: absolute;
  z-index: 1;
  -webkit-clip-path: polygon(0% 2%, 0% 76%, 100% 100%, 100% 0%, 15% 0%);
  clip-path: polygon(0% 2%, 0% 76%, 100% 100%, 100% 0%, 15% 0%);
  background-color: #354557; }

#developCanvasContainer {
  position: absolute;
  overflow: hidden;
  max-height: 800px;
  top: -10%; }

canvas {
  max-width: 100%;
  max-height: 80vw; }

#landingFigure {
  position: relative;
  top: 2px;
  width: 100vw; }
  #landingFigure img {
    vertical-align: middle; }
  #landingFigure h2, #landingFigure h1 {
    font-weight: 300; }
  #landingFigure h2:nth-of-type(3) {
    font-family: "Nothing You Could Do"; }

#landingCaption {
  position: absolute;
  top: 40%;
  margin-left: 10%;
  width: 60%;
  color: #434B63;
  z-index: 6; }

#breakThings {
  margin-left: 0;
  font-size: 16pt;
  transform: skew(20deg);
  border-radius: 0;
  border-color: #434B63; }
  #breakThings p {
    transform: skew(-20deg);
    padding: 0 5px; }

#designSection {
  height: 80vw;
  position: relative;
  padding: 0; }
  #designSection svg {
    position: absolute;
    left: 0;
    top: 0; }
  #designSection polygon {
    fill: #354557; }
  #designSection p {
    color: white;
    line-height: 1.4;
    position: relative;
    float: right;
    clear: right;
    margin-right: 10%;
    z-index: 2;
    width: 45%;
    box-sizing: border-box;
    padding: 0; }
    #designSection p:nth-of-type(2) {
      margin-top: 3%; }
  #designSection h3 {
    color: #C3CCD6;
    -webkit-text-fill-color: #C3CCD6; }
    #designSection h3 b {
      font-weight: 600; }

#developSection {
  background-color: black;
  height: 600px;
  top: -20vw;
  overflow: hidden;
  width: 100vw; }
  #developSection p {
    color: #EFEFEF;
    line-height: 1.4;
    margin-left: 20%;
    position: relative;
    top: 25%; }
  #developSection svg {
    position: absolute;
    bottom: -1px; }
    #developSection svg polygon {
      fill: white; }
    #developSection svg path {
      fill: white;
      display: none; }
  #developSection canvas {
    max-width: 100%;
    max-height: 160vw; }

#developSection:before {
  background-color: black;
  width: 100vw;
  content: '';
  position: absolute;
  z-index: -10;
  height: 400px;
  top: -40%; }

#leadershipSection {
  background-color: white; }
  #leadershipSection p {
    margin-left: 15%;
    margin-top: 5%; }

#egoSection {
  background-color: #FFF;
  width: 100%; }

#egoNote {
  display: block;
  transition: transform 0.4s, height 0.4s;
  padding-bottom: 5%; }
  #egoNote p {
    transition: transform 0.4s, opacity 0.3s linear 0.5s;
    width: 75%;
    margin-left: 10%;
    text-indent: 0; }

#egoHeader {
  text-decoration: none;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  padding: 5%; }
  #egoHeader:after {
    content: '+';
    float: right;
    padding-right: 10px;
    transition: transform 0.5s;
    transform: translateY(-5px);
    font-size: 22pt; }
  #egoHeader:hover {
    cursor: pointer; }

.expandable {
  position: relative;
  box-sizing: border-box;
  transition: margin 0.5s;
  margin-bottom: 0; }

.expanding {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform 0.5s;
  transform: translateY(-50%) scaleY(0); }

.expandContent {
  transition: transform 0.5s;
  transform: translateY(50%) scaleY(2); }
  .expandContent p {
    opacity: 0;
    transition: opacity 0.3s linear 0.5s; }

.expanded #egoHeader:after, .expanded .resumeHeader:after {
  transform: rotate(45deg); }
.expanded .expanding {
  transform: translateY(0) scaleY(1); }
  .expanded .expanding .expandContent {
    transform: translateY(0) scaleY(1); }
    .expanded .expanding .expandContent p {
      opacity: 1; }

#finalLandingSection {
  width: 100%; }
  #finalLandingSection h1, #finalLandingSection h2 {
    padding: 5% 10%;
    font-weight: 400;
    font-size: 36pt;
    color: #434B63;
    margin-top: 10%; }
  #finalLandingSection h2:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 100%;
    max-width: 550px;
    height: 35%;
    z-index: -1;
    background-color: rgba(185, 197, 202, 0.6);
    -webkit-clip-path: polygon(1% 32%, 20% 93%, 94% 15%);
    clip-path: polygon(1% 32%, 20% 93%, 94% 15%); }
  #finalLandingSection a {
    padding: 5% 10%;
    color: #434B63;
    font-size: 16pt;
    float: right; }
    #finalLandingSection a:after {
      content: '';
      position: absolute;
      bottom: -21px;
      height: 12px;
      width: 12px;
      border: 2px solid #434B63;
      transform: rotate(45deg);
      transition: transform 0.3s;
      border-left: 0;
      border-bottom: 0; }
  #finalLandingSection a:hover::after {
    transform: rotate(45deg) translate(5px, -5px); }
  #finalLandingSection #fullLogo {
    width: 100%;
    display: block;
    max-width: 450px;
    height: 400px;
    margin: auto;
    background-image: url(../img/MalcMaturenFull.png);
    background-size: contain; }

.content {
  transition: all 400ms;
  width: 80%;
  padding: 150px 10%; }
  .content p {
    width: 100%;
    text-indent: 5%; }
    .content p.noIndent {
      text-indent: 0; }
  .content#contactContent {
    padding: 100px 0;
    width: 100%; }
  .content#homeContent {
    width: 100%;
    padding: 0;
    margin-top: -5px; }
  .content .landingSection {
    position: relative;
    padding: 5% 0; }
    .content .landingSection p {
      width: 60%;
      padding: 0 10%;
      text-indent: 0; }
    .content .landingSection h4 {
      position: absolute;
      font-size: 36pt; }

#homeContent p {
  font-family: 'Red Hat Text'; }

#designHeader {
  z-index: 2;
  font-weight: 300;
  font-family: Muli;
  color: #C3CCD6;
  -webkit-text-fill-color: #C3CCD6;
  position: relative;
  margin: 20px;
  margin-top: 40px;
  margin-right: 20%;
  font-size: 48pt;
  float: right; }

#developHeader {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: bottom right;
  font-weight: 300;
  font-family: Muli;
  color: #C3CCD6;
  -webkit-text-fill-color: #C3CCD6;
  top: 20%;
  left: -200px; }

#leadershipHeader {
  position: relative;
  margin-left: 5%; }

#resume {
  padding: 150px 10%; }
  #resume h1 {
    font-weight: 300;
    font-size: 250%;
    float: right; }

.resumeHeader {
  width: 100%;
  text-decoration: none;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2em;
  border: 1px solid #C3CCD6;
  padding: 8px 10px;
  box-sizing: border-box;
  border-width: 1px 0 0 0; }
  .resumeHeader:after {
    content: '+';
    float: right;
    padding-right: 10px;
    transition: transform 0.5s;
    font-size: 22pt; }
  .resumeHeader:hover {
    cursor: pointer; }

.resumeExpandable {
  width: 100%; }

.resumeContent {
  width: 100%;
  border: 4px solid #434B63;
  border-width: 0 0 0 4px;
  margin-left: 5px;
  padding-left: 15px;
  margin-top: 15px; }
  .resumeContent ul {
    margin-left: 3em;
    margin-bottom: 20px; }
  .resumeContent li:before {
    content: "";
    border-color: transparent #434B63;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative; }
  .resumeContent h3 {
    margin: 10px 0 10px 5px;
    width: 90%;
    border: 2px solid #B3BBC5;
    border-width: 0 0 3px 0;
    padding-bottom: 5px; }
  .resumeContent h3:not(:first-of-type) {
    margin-top: 35px; }
  .resumeContent h4, .resumeContent h5 {
    margin-left: 5px;
    text-decoration: none; }
  .resumeContent h5 {
    margin-top: 5px;
    color: #1C242E; }
  .resumeContent p {
    text-indent: 0;
    margin: 15px 0 0 5px;
    width: 85%; }

#languagesContainer .resumeContent {
  margin-top: 0; }

#misson-cnt {
  position: relative;
  margin: 20px 0; }

#mission {
  background-color: #434B63;
  color: white;
  width: 80vw;
  position: relative;
  left: -10vw;
  padding: 0 10vw;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 85% 92%, 3% 92%, 0% 100%);
  clip-path: polygon(0% 0, 100% 0%, 85% 92%, 3% 92%, 0% 100%); }

#missionBKG {
  background-color: #393f54;
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10vw;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 85% 100%, 0% 100%);
  clip-path: polygon(0% 0, 100% 0%, 85% 100%, 0% 100%); }

#missionHeader {
  font-weight: 300;
  font-size: 2.5em;
  margin: 15px 0px;
  margin-left: -5vw; }

#missionText {
  margin-bottom: 30px;
  line-height: 1.4em;
  margin-left: -5vw; }

.skillSection {
  display: block; }

#filterGrid, #sortGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: skew(-20deg);
  background-color: #dee2e6;
  width: 90%; }

#sortGrid {
  grid-template-columns: 1fr; }

.FilterLabel {
  grid-column: 1 / 3;
  width: 95%;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 12px 0 8px 8px;
  box-sizing: border-box;
  color: #434B63;
  transform: skew(20deg);
  box-sizing: border-box;
  padding-left: 50px;
  padding-bottom: 7px; }

.filterCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.filterCheckbox[disabled] {
  cursor: default; }

.filterCheckbox[disabled] + .FilterBKG {
  cursor: default; }
  .filterCheckbox[disabled] + .FilterBKG + p {
    cursor: default; }

.filterCheckbox:checked + .FilterBKG {
  background-position: -100% 0; }
  .filterCheckbox:checked + .FilterBKG .checkmark {
    background-color: #434B63;
    border: 1px solid #434B63; }
    .filterCheckbox:checked + .FilterBKG .checkmark:before {
      display: block; }
  .filterCheckbox:checked + .FilterBKG + p {
    color: white; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35px;
  transform: skew(-20deg);
  background-color: #FFF;
  box-sizing: border-box;
  border: 1px solid #dee2e6;
  border-width: 0 1px;
  transform: skew(0);
  transition: background-color .5s ease-in, border .2s ease-in; }
  .checkmark:before {
    content: "";
    position: absolute;
    display: none;
    left: 12px;
    top: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(50deg) skew(20deg);
    -ms-transform: rotate(50deg) skew(20deg);
    transform: rotate(50deg) skew(20deg); }

.FilterBKG {
  width: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 32px;
  transform: skew(-20deg);
  z-index: -1;
  box-sizing: border-box;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #FFF 50%, #434B63 50%);
  transition: background-position .5s ease-out;
  -webkit-transition: background-position .5s ease-out;
  -moz-transition: background-position .5s ease-out; }

.filterCheckbox + .FilterBKG + p {
  text-indent: -5px; }

.selectorButton {
  margin-top: 20px; }
  .selectorButton .FilterBKG {
    border-radius: 5px; }
  .selectorButton .filterCheckbox + .FilterBKG .checkmark {
    border-radius: 5px; }
  .selectorButton .filterCheckbox:checked + .FilterBKG .checkmark:before {
    border-color: #d5d5d5; }
  .selectorButton .filterCheckbox:checked + .FilterBKG + p {
    color: #d5d5d5; }

.selectorButton:nth-last-of-type(2) {
  grid-column: 1 / 2; }

.selectorButton:last-of-type {
  grid-column: 2 / 3;
  width: 90%; }

#ManagmentButtons {
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: white;
  flex-direction: row-reverse; }
  #ManagmentButtons button {
    margin: 0 5px;
    border: 1px solid #B3BBC5; }
  #ManagmentButtons .filtersApplied {
    background-color: #434B63;
    color: white; }

#FilterContainer, #SortContainer {
  width: 100%;
  position: absolute;
  transition: transform .4s ease-out;
  display: block; }

.shrinkToHide {
  transform: translate(0, -50%) scale(1, 0) skew(0deg); }

.shrinkToHide#FilterContainer, .shrinkToHide#SortContainer {
  transform: translate(0, -50%) scale(1, 0) skew(0deg); }

.gallery {
  display: grid;
  grid-template-columns: 80vw;
  width: 100%;
  transition: all .4s;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  position: relative;
  top: 15px; }

.pushedDown {
  top: 250px; }

.projGridCell {
  width: 80vw;
  height: 300px; }

.proj {
  width: 80vw;
  height: 300px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #cacedb;
  background-color: white;
  color: black; }
  .proj:hover {
    box-shadow: 0px 5px 6px #cacedb; }
    .proj:hover .projReadMore {
      text-decoration: underline; }
  .proj h2, .proj p {
    margin-left: 5%;
    margin-top: 2%; }
  .proj h2 {
    width: 80%;
    font-size: 18pt;
    color: #434B63;
    font-family: 'Montserrat', 'Lato', sans-serif;
    font-weight: 400; }
  .proj div[data-inverse-flip-id] {
    width: 100%; }
  .proj .projInfo {
    width: 100%;
    height: 100%;
    min-height: 300px;
    position: relative;
    transition: box-shadow 0.5s;
    background-color: white; }
  .proj p.projDescription {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 0;
    width: 80%;
    margin-bottom: 13%; }
  .proj .coverPhotoContainer {
    width: 100%;
    height: 120px;
    overflow: hidden; }
  .proj .projCoverPhoto {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: -35px; }
  .proj .projTags {
    margin-top: 5%;
    margin-left: 5%; }
    .proj .projTags li {
      font-size: 12pt;
      color: #FFF;
      background-color: #434B63;
      display: inline-block;
      border-radius: 10px;
      padding: 2px 10px;
      margin-right: 5px;
      margin-bottom: 2%; }
  .proj .projClose[role="button"] {
    transition: transform 0.6s;
    transform: scale(0, 0);
    display: block;
    right: 0;
    position: absolute; }
  .proj .projReadMore {
    transition: opacity 0.5s;
    opacity: 1;
    float: right;
    padding: 3px 5px;
    margin: 10px;
    position: absolute;
    bottom: -1px;
    right: 5px;
    color: #434B63; }
  .proj .projContent {
    width: 100%;
    padding: 0 5%;
    margin-top: 5%;
    box-sizing: border-box; }
    .proj .projContent a {
      font-weight: bold;
      color: #2e3445; }
      .proj .projContent a:hover {
        text-decoration: underline; }
      .proj .projContent a:visited:not(.customColor) {
        color: #586281;
        text-decoration: underline; }
    .proj .projContent h3 {
      font-weight: normal;
      margin-top: 5%; }
    .proj .projContent h4 {
      font-size: 300%;
      font-style: italic;
      color: #696969;
      -webkit-text-fill-color: #696969; }
    .proj .projContent h5 {
      color: #434B63;
      text-decoration: none;
      font-family: 'Montserrat', 'Lato', sans-serif;
      font-size: 1.4em;
      margin-top: 5%; }
    .proj .projContent iframe {
      margin-top: 5%; }
    .proj .projContent img {
      position: relative;
      left: -6%;
      width: 117%;
      margin-top: 5%; }
    .proj .projContent .bigImage {
      display: block;
      margin: auto;
      margin-top: 5%; }
    .proj .projContent ul {
      width: 85%;
      margin-left: 5%;
      list-style-type: none; }
    .proj .projContent ul li:before {
      content: "";
      border-color: transparent #434B63;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 1em;
      position: relative; }
    .proj .projContent .processList {
      list-style: none;
      counter-reset: listCounter; }
    .proj .projContent .processList > li {
      counter-increment: listCounter;
      margin-top: 10%;
      width: 95%; }
    .proj .projContent .processList > li::before {
      content: counter(listCounter) ". ";
      color: #434B63;
      font-weight: bold;
      font-size: 400%; }
    .proj .projContent .processStep:last-of-type {
      margin-bottom: 20%; }
    .proj .projContent p {
      margin-left: 0;
      width: 85%;
      margin-top: 4%;
      cursor: auto; }
    .proj .projContent .processContainer {
      width: 100%;
      position: relative; }
    .proj .projContent .processHeader {
      font-size: 3.7em;
      position: relative;
      z-index: 0;
      margin: 15% 0; }
      .proj .projContent .processHeader:before {
        content: '';
        position: absolute;
        left: -50px;
        bottom: -1.5em;
        width: 100%;
        max-width: 550px;
        height: 3.5em;
        z-index: -1;
        background-color: rgba(185, 197, 202, 0.6);
        -webkit-clip-path: polygon(18% 19%, 0% 86%, 100% 12%);
        clip-path: polygon(18% 19%, 0% 86%, 100% 12%); }
      .proj .projContent .processHeader[NDA]:after {
        content: 'NDA';
        font-size: 0.5em;
        float: right;
        color: white;
        background-color: #951003;
        border-radius: 5px;
        padding: 5px;
        margin-right: 10%;
        position: relative;
        top: 15px; }
    .proj .projContent .metaContainer {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr; }
    .proj .projContent .metaList {
      width: 100%; }
    .proj .projContent .NDAinfo {
      background-color: #951003;
      color: white;
      padding: 10px;
      position: absolute;
      right: 10%;
      bottom: -10%;
      z-index: 2;
      border-radius: 5px;
      width: 85%;
      transition: opacity .5s;
      opacity: 0; }
      .proj .projContent .NDAinfo.fullOpacity {
        opacity: 1; }
    .proj .projContent .emberLink {
      color: #EA450E; }
      .proj .projContent .emberLink:first-of-type {
        font-size: 130%; }
      .proj .projContent .emberLink h5 {
        color: #EA450E; }
    .proj .projContent .xrssLink {
      color: #EC3160; }
      .proj .projContent .xrssLink:first-of-type {
        font-size: 130%; }
      .proj .projContent .xrssLink h5 {
        color: #EC3160; }

.proj.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  z-index: 20; }
  .proj.expanded h2 {
    width: 90%; }
  .proj.expanded .coverPhotoContainer {
    width: 100%;
    height: auto;
    overflow: visible; }
  .proj.expanded .projClose.ClosingX {
    padding: 30px;
    cursor: pointer;
    z-index: 21;
    transform: scale(1, 1); }
  .proj.expanded .projInfo {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; }
    .proj.expanded .projInfo p.projDescription {
      overflow: visible;
      white-space: normal;
      text-indent: 5%; }
  .proj.expanded .projReadMore {
    opacity: 0; }
  .proj.expanded button.projClose {
    padding: 15px 30px;
    margin: 0;
    display: block;
    margin: auto;
    margin-bottom: 20%;
    border: none;
    transform: skew(20deg);
    width: 65%;
    max-width: 415px;
    background-color: rgba(185, 197, 202, 0.5);
    position: relative;
    border-radius: 0; }
    .proj.expanded button.projClose .ClosingX {
      transition: transform 0.4s;
      transform: scale(0.7, 0.7) skew(-20deg);
      display: inline-block;
      bottom: -12px; }
    .proj.expanded button.projClose p {
      transform: skew(-20deg);
      padding: 0;
      margin: 0;
      font-size: 200%;
      max-width: 80%;
      text-align: left; }
    .proj.expanded button.projClose:hover .ClosingX {
      transform: scale(1, 1) skew(-20deg); }
  .proj.expanded #emberCoverIMG, .proj.expanded #fooyaCoverIMG, .proj.expanded #xrssCoverIMG {
    max-width: none; }

#emberCoverIMG {
  max-width: 310px;
  left: 5%;
  top: -10px; }

#fooyaCoverIMG {
  width: 90%;
  max-width: 310px; }

#xrssCoverIMG {
  float: right;
  max-width: 375px;
  top: -30%; }

#migrantsCoverIMG {
  top: -20%;
  max-width: 350px;
  margin: auto;
  display: block; }

#sortedAffinityHeader {
  float: right;
  padding-right: 5%; }

#languages {
  margin-left: 10%; }

.titleBar {
  box-sizing: border-box;
  display: inline-block;
  background-color: #434B63;
  border-style: solid;
  border-width: 0px;
  width: 100%;
  color: #FFF;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 2em;
  transition: all 400ms; }

#menu-container {
  display: inline-block;
  position: fixed;
  top: 0px;
  width: 50vw;
  height: 100vh;
  z-index: 10;
  transition: all 600ms;
  background-color: #2e3445;
  font-family: 'Montserrat', 'Lato', sans-serif;
  color: #FFF; }
  #menu-container a {
    color: #FFF; }
    #menu-container a :hover h2 {
      text-decoration: underline; }
    #menu-container a li {
      font-size: 14pt;
      padding: 10%;
      border-bottom: 1px solid white; }
      #menu-container a li h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
    #menu-container a #navhome {
      border-top: 1px solid white;
      clear: right; }

.current-page {
  background-color: #B3BBC5;
  color: #434B63; }

.bodyCover, .projBodyCover {
  display: inline-block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 7;
  height: 100vh;
  width: 100vw;
  transition: all 100ms;
  background-color: rgba(169, 169, 169, 0.5); }

.projBodyCover {
  z-index: 19;
  opacity: 0;
  transition: opacity 1s;
  display: none; }

.downArrowOutline {
  display: block;
  height: 100px;
  width: 100px;
  background-image: url(../img/icon/downArrowDarkOutline.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 35%; }

.hidden {
  display: none; }

.transOpacity {
  transition: opacity 1s; }

.fullOpacity {
  opacity: 1; }

.noOpacity {
  opacity: 0; }

.hiddenRight {
  right: -1000px; }

.fullWidth {
  width: 100%; }

.noWidth {
  width: 0; }

.noHeight {
  height: 0; }

.autoHeight {
  height: auto; }

.openNav {
  right: 0px; }

#ProjectComponent {
  width: 100%; }

#FilterManager {
  width: 100%;
  position: relative; }

#searchBar {
  width: 100%;
  height: 50px;
  background-color: #d0d5db;
  margin: 3% auto;
  position: relative;
  transform: skew(20deg);
  z-index: 4; }

#query {
  width: 80%;
  font-size: 130%;
  position: absolute;
  left: 20px;
  transform: skew(-30deg);
  border: none;
  background-color: #d0d5db;
  padding: 10px 0 10px 5px;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 300;
  color: #434B63;
  margin-top: 2px; }

#query:hover {
  background-color: #edeff1; }

#query:focus {
  background-color: #FFF; }

#searchBar:hover {
  background-color: #dee2e6; }

::placeholder {
  color: #2e3445;
  opacity: 0.75; }

.disp-grid {
  grid-row-gap: 10px;
  display: grid; }
  .disp-grid #skills-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 8); }

.two-disp-grid {
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: 1fr; }

#emailCell:hover {
  cursor: pointer; }
#emailCell #email-info {
  border: none;
  text-align: center;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 14pt;
  background-color: #434B63; }

.grid-cell {
  width: 80%;
  margin: auto;
  height: 120px;
  max-width: 420px;
  display: block;
  box-shadow: 0px 0px 5px rgba(141, 141, 139, 0.75);
  position: relative; }
  .grid-cell:nth-of-type(odd) {
    transform: skew(20deg); }
    .grid-cell:nth-of-type(odd) .sub-grid-cell, .grid-cell:nth-of-type(odd) .bkg-cell {
      margin-left: 5%;
      transform: skew(-20deg);
      text-indent: -20%; }
  .grid-cell:nth-of-type(even) {
    transform: skew(-20deg);
    margin-top: 25%; }
    .grid-cell:nth-of-type(even) .sub-grid-cell, .grid-cell:nth-of-type(even) .bkg-cell {
      margin-left: -5%;
      transform: skew(20deg);
      text-indent: 20%; }

.wide-grid-cell {
  width: 100%;
  background-color: #434B63;
  color: white; }
  .wide-grid-cell h4, .wide-grid-cell input {
    color: white;
    -webkit-text-fill-color: white; }

.sub-grid-cell {
  width: 100%;
  height: 2em;
  line-height: 2em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: #434B63; }

.bkg-cell {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center; }
  .bkg-cell img {
    width: 20%; }

#contactHeader {
  float: right;
  margin-right: 8%;
  margin-bottom: 30px;
  font-weight: 300; }

.contactBox {
  width: 100%;
  background-repeat: no-repeat; }
  .contactBox h2 {
    color: #434B63;
    font-weight: 400;
    margin: 15% 0 5% 5%;
    font-size: 1.8em; }
  .contactBox h3 {
    color: black;
    font-weight: 400;
    margin-left: 5%; }
  .contactBox button {
    transform: skew(20deg);
    background-color: #D8DCDF;
    border-radius: 0;
    box-sizing: border-box;
    width: 40%;
    flex-grow: 1;
    border: none;
    padding: 10px;
    position: relative; }
    .contactBox button.copyButton p:before {
      background-image: url(../svg/contact/clipboard-action.svg); }
    .contactBox button.composeButton p:before {
      background-image: url(../svg/contact/compose-action.svg); }
    .contactBox button.callButton p:before {
      background-image: url(../svg/contact/phone-action.svg);
      left: -30px; }
    .contactBox button p {
      transform: skew(-20deg);
      font-size: 1.9em;
      color: #434B63;
      font-family: 'Montserrat', 'Lato', sans-serif;
      font-weight: 400;
      position: relative;
      width: -moz-fit-content;
      width: fit-content;
      margin: auto;
      text-indent: 0; }
      .contactBox button p:before {
        content: '';
        background-repeat: no-repeat;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 1px;
        left: -25px; }
  .contactBox a {
    width: 40%;
    flex-grow: 1; }
    .contactBox a button {
      width: 100%; }

.contactButtons {
  width: 90%;
  display: flex;
  margin: 5% auto; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.copyConfirm {
  transform: skew(-20deg);
  width: 190%;
  position: absolute;
  bottom: -35px;
  left: -10px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2em;
  background-color: #2e3445;
  color: white;
  -webkit-animation: fadeOut 500ms forwards 4s;
  animation: fadeOut 500ms forwards 4s; }

#emailContact {
  background-image: url(../svg/contact/email-mobile.svg); }

#phoneContact {
  background-image: url(../svg/contact/phone-mobile.svg);
  background-position: right -45px bottom 5px;
  padding-bottom: 20%;
  background-size: 60%; }

/*# sourceMappingURL=main.css.map */
