* {
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a [href$=".pdf"] {
    background-image: url(./static/img/pdf-icon); }
  a :hover {
    text-decoration: underline; }

p, b, div {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: 300; }

div {
  display: inline-block; }

header {
  z-index: 5;
  top: 0;
  width: 100vw;
  position: absolute;
  background-color: white;
  -webkit-transition: all 400ms;
  transition: all 400ms; }

h3 {
  color: #434B63;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 190%;
  font-weight: 300; }

h4 {
  color: #434B63;
  -webkit-text-fill-color: #434B63;
  -moz-text-fill-color: #434B63;
  font-size: 16pt;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 400; }

h5 {
  text-decoration: underline; }

ul {
  list-style-type: none; }

button {
  padding: 5px 10px;
  margin: 5px;
  text-decoration: underline;
  font-family: 'Montserrat', 'Lato', sans-serif;
  cursor: pointer;
  background-color: white;
  border-radius: 5px; }

@keyframes headerFadeIn {
  from {
    background-color: white;
    top: -200px; }
  to {
    position: fixed;
    top: 0px;
    z-index: 5; } }
@-webkit-keyframes webKitHeaderFadeIn {
  0% {
    background-color: white;
    top: -200px; }
  100% {
    position: fixed;
    top: 0px;
    z-index: 5; } }
.fixedHeader {
  animation: headerFadeIn 500ms forwards;
  position: fixed;
  z-index: 5;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  box-shadow: 0px 3px 10px #d3d3d3; }

#toggle {
  display: inline-block;
  float: right;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 30px 8%;
  width: 120px; }

#close {
  color: #FFF;
  text-align: right;
  cursor: pointer;
  padding: 34px 8vw;
  float: right; }
  #close #toggleLine4 {
    position: relative;
    transform: skew(-50deg);
    top: 3px; }
  #close .lineOver#toggleLine4 {
    -webkit-animation: rotateNegativeFortyFive 1.5s forwards;
    animation: rotateNegativeFortyFive 1.5s forwards; }
  #close #toggleLine5 {
    position: relative;
    top: -5px;
    transform: skew(-50deg); }
  #close .lineOver#toggleLine5 {
    -webkit-animation: rotateFortyFive 1.5s forwards;
    animation: rotateFortyFive 1.5s forwards; }

#titleLink {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-text-fill-color: #434B63;
  -moz-text-fill-color: #434B63;
  -webkit-opacity: 1;
  -moz-opacity: 1; }
  #titleLink h1 {
    font-family: 'Montserrat', 'Lato', sans-serif;
    display: inline-block;
    font-size: 120%; }
  #titleLink img {
    height: 70px;
    margin: auto;
    padding: 10px 10px 0 15px; }
  #titleLink #toggleSVG {
    width: 50px;
    height: 20px; }
  #titleLink #skewBlock {
    background-color: white;
    transform: skew(-50deg);
    width: 100px;
    height: 100px;
    clear: right;
    position: relative;
    top: 100px;
    left: -50px;
    box-shadow: 0px 3px 10px #d3d3d3; }

.singleToggleLine {
  width: 50px;
  height: 3px;
  transform: skew(50deg);
  background-color: #434B63;
  display: block;
  margin: 4px 0; }

.singleToggleLine.posFortyFive {
  -webkit-transform: rotate(45deg) skew(-50deg);
  transform: rotate(45deg) skew(-50deg);
  position: relative;
  top: -5px; }

.singleToggleLine.negFortyFive {
  -webkit-transform: rotate(-45deg) skew(-50deg);
  transform: rotate(-45deg) skew(-50deg);
  position: relative;
  top: 3px; }

.lineUnder {
  position: relative; }

.lineUnder#toggleLine1 {
  top: 7px;
  -webkit-animation: rotateNegativeFortyFive 600ms forwards;
  animation: rotateNegativeFortyFive 600ms forwards; }

#toggleLine2 {
  transform: skew(-50deg); }

.lineUnder#toggleLine2 {
  -webkit-animation: rotateFortyFive 600ms forwards;
  animation: rotateFortyFive 600ms forwards; }

.lineUnder#toggleLine3 {
  top: -7px;
  -webkit-animation: rotateNegativeFortyFive 600ms forwards;
  animation: rotateNegativeFortyFive 600ms forwards; }

.lineOver {
  background-color: white;
  clear: both; }

@keyframes rotateNegativeFortyFive {
  to {
    -webkit-transform: rotate(-45deg) skew(-50deg);
    transform: rotate(-45deg) skew(-50deg); } }
@keyframes rotateFortyFive {
  to {
    -webkit-transform: rotate(45deg) skew(-50deg);
    transform: rotate(45deg) skew(-50deg); } }
#filterGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: skew(-20deg);
  background-color: #dee2e6;
  width: 90%; }

.FilterLabel {
  grid-column: 1 / 3;
  width: 95%;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 12px 0 8px 8px;
  box-sizing: border-box;
  color: #434B63;
  transform: skew(20deg);
  box-sizing: border-box;
  padding-left: 50px;
  padding-bottom: 7px; }

.filterCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.filterCheckbox[disabled] {
  cursor: default; }

.filterCheckbox[disabled] + .FilterBKG {
  cursor: default; }
  .filterCheckbox[disabled] + .FilterBKG + p {
    cursor: default; }

.filterCheckbox:checked + .FilterBKG {
  background-position: -100% 0; }
  .filterCheckbox:checked + .FilterBKG .checkmark {
    background-color: #434B63;
    border: 1px solid #434B63; }
    .filterCheckbox:checked + .FilterBKG .checkmark:before {
      display: block; }
  .filterCheckbox:checked + .FilterBKG + p {
    color: white; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35px;
  transform: skew(-20deg);
  background-color: #FFF;
  box-sizing: border-box;
  border: 1px solid #dee2e6;
  border-width: 0 1px;
  transform: skew(0);
  transition: background-color .5s ease-in, border .2s ease-in; }
  .checkmark:before {
    content: "";
    position: absolute;
    display: none;
    left: 12px;
    top: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(50deg) skew(20deg);
    -ms-transform: rotate(50deg) skew(20deg);
    transform: rotate(50deg) skew(20deg); }

.FilterBKG {
  width: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 32px;
  transform: skew(-20deg);
  z-index: -1;
  box-sizing: border-box;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #FFF 50%, #434B63 50%);
  transition: background-position .5s ease-out;
  -webkit-transition: background-position .5s ease-out;
  -moz-transition: background-position .5s ease-out; }

.filterCheckbox + .FilterBKG + p {
  text-indent: -5px; }

.selectorButton .filterCheckbox:checked + .FilterBKG .checkmark:before {
  border-color: #d5d5d5; }
.selectorButton .filterCheckbox:checked + .FilterBKG + p {
  color: #d5d5d5; }

.selectorButton:nth-last-of-type(2) {
  grid-column: 1 / 2; }

.selectorButton:last-of-type {
  grid-column: 2 / 3;
  width: 90%; }

#ManagmentButtons {
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: white;
  flex-direction: row-reverse; }
  #ManagmentButtons button {
    margin: 0 5px; }

#FilterContainer {
  width: 100%;
  position: relative;
  transition: transform .4s ease-out;
  display: block; }

.shrinkToHide#FilterContainer {
  transform: translate(0, -50%) scale(1, 0) skew(0deg); }

.gallery {
  display: grid;
  grid-template-columns: 80vw;
  width: 100%;
  margin-top: -200px;
  transition: all .4s;
  grid-row-gap: 15px;
  grid-column-gap: 15px; }

.pushedDown {
  margin-top: 5%; }

.projGridCell {
  width: 80vw;
  height: 315px; }

.project {
  box-shadow: 0px 2px 5px #cacedb;
  width: 100%;
  min-width: 100%;
  min-height: 315px;
  -moz-transition: transform 0.5s ease-in-out, min-height 0.5s, min-width 0.5s, left 0.65s, top 0.65s;
  -webkit-transition: transform 0.5s ease-in-out, min-height 0.5s, min-width 0.5s, left 0.65s, top 0.65s;
  transition: transform 0.5s ease-in-out, min-height 0.5s, min-width 0.5s, left 0.65s, top 0.65s;
  transform-origin: top;
  position: relative;
  left: -1px;
  top: -1px; }
  .project h4, .project p {
    margin-left: 5%;
    margin-top: 2%; }
  .project h4 {
    width: 80%;
    font-size: 18pt; }

.project:hover {
  box-shadow: 0px 5px 6px #cacedb;
  cursor: pointer; }
  .project:hover .projReadMore {
    text-decoration: underline; }

.coverPhotoContainer {
  width: 100%;
  height: 120px;
  overflow: hidden; }

.projCoverPhoto {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: -35px; }

.content p.projDescription {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent: 0;
  margin-bottom: 13%; }

.projReadMore {
  float: right;
  padding: 3px 5px;
  margin: 10px;
  position: absolute;
  bottom: -1px;
  right: 5px;
  color: #434B63; }

.projTags {
  margin-top: 5%;
  margin-left: 5%; }
  .projTags li {
    font-size: 12pt;
    color: #FFF;
    background-color: #434B63;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 10px;
    margin-right: 5px;
    margin-bottom: 2%; }

.projClose {
  transition: transform 0.6s;
  transform: scale(0, 0);
  display: block;
  right: 0;
  position: absolute; }

.projInfo {
  width: 100%;
  height: 100%;
  position: relative;
  transition: box-shadow 0.5s;
  background-color: white; }

.project.expanded {
  z-index: 20;
  -webkit-animation: shrinkToFullWK 0.5s cubic-bezier(0.1, 0.34, 0.97, 0.08) forwards;
  animation: shrinkToFull 0.5s cubic-bezier(0.1, 0.34, 0.97, 0.08) forwards; }
  .project.expanded .projInfo {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    box-shadow: 2px 0px 10px 1px rgba(67, 75, 99, 0.5); }
  .project.expanded .projClose {
    padding: 30px;
    cursor: pointer;
    z-index: 21;
    transform: scale(1, 1); }
  .project.expanded .coverPhotoContainer {
    overflow: visible; }
  .project.expanded p.projDescription {
    overflow: visible;
    white-space: normal;
    text-indent: 5%; }
  .project.expanded .projReadMore {
    display: none; }
  .project.expanded #emberCoverIMG, .project.expanded #fooyaCoverIMG {
    max-width: none; }

@-webkit-keyframes shrinkToFullWK {
  0% {
    margin: auto;
    left: 0; }
  25% {
    transform: scale(0.8, 0.75); }
  100% {
    transform: scale(1, 1);
    min-height: 100vh;
    min-width: 100vw;
    left: -10vw; } }
@keyframes shrinkToFull {
  0% {
    margin: auto;
    left: 0; }
  50% {
    transform: scale(0.8, 0.75); }
  100% {
    transform: scale(1, 1);
    min-height: 100vh;
    min-width: 100vw;
    left: -10vw; } }
@keyframes becomeFixed {
  100% {
    position: fixed;
    left: 0;
    top: 0; } }
@-webkit-keyframes becomeFixedWK {
  100% {
    position: fixed;
    left: 0;
    top: 0; } }
#emberCoverIMG {
  max-width: 310px;
  left: 5%;
  top: -10px; }

#fooyaCoverIMG {
  width: 90%;
  max-width: 310px; }

#resume {
  height: 70vh;
  margin-bottom: 20vh; }

#resume-embed {
  width: 100%;
  height: 100%; }

#resume-footer {
  margin-top: 30%; }

#languages {
  margin-left: 10%; }

#thoughts-header {
  text-align: center;
  color: #000; }

#thoughts-header-ctn {
  background-image: url(../img/penPaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 50%;
  line-height: 35vh;
  margin-bottom: 10%;
  border-radius: 10px; }

#footer-logo {
  display: inline-block;
  margin: auto;
  width: 30%;
  position: absolute;
  bottom: 15%;
  left: 30%; }

#cpp-box {
  background: url(../img/cpp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#python-box {
  background-image: url(../img/Python.png); }

#html-box {
  background-image: url(../img/html5.png);
  margin-top: 5px;
  height: 60%; }

#css-box {
  background-image: url(../img/sass.png); }

#js-box {
  background-image: url(../img/JavaScript-logo.png); }

#ai-box {
  background-image: url(../img/illustratorLogo.png);
  height: 65%; }

#ps-box {
  background-image: url(../img/photoshop.png);
  height: 65%; }

#sql-box {
  background-image: url(../img/sqlIcon.png);
  height: 65%; }

#phone-box {
  background-image: url(../img/phoneIcon.png); }

.titleBar {
  box-sizing: border-box;
  display: inline-block;
  background-color: #434B63;
  border-style: solid;
  border-width: 0px;
  width: 100%;
  color: #FFF;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 2em;
  transition: all 400ms; }

#menu-container {
  display: inline-block;
  position: fixed;
  top: 0px;
  width: 50vw;
  height: 100vh;
  z-index: 10;
  transition: all 600ms;
  background-color: #2e3445;
  font-family: 'Montserrat', 'Lato', sans-serif;
  color: #FFF; }
  #menu-container a {
    color: #FFF; }
    #menu-container a :hover h2 {
      text-decoration: underline; }
    #menu-container a li {
      font-size: 14pt;
      padding: 10%;
      border-bottom: 1px solid white; }
      #menu-container a li h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
    #menu-container a #navhome {
      border-top: 1px solid white;
      clear: right; }

.current-page {
  background-color: #B3BBC5;
  color: #434B63; }

.bodyCover, .projBodyCover {
  display: inline-block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 7;
  height: 100vh;
  width: 100vw;
  transition: all 100ms;
  background-color: rgba(169, 169, 169, 0.5); }

.projBodyCover {
  z-index: 19;
  opacity: 0;
  transition: opacity 1s;
  display: none; }

.hidden {
  display: none; }

.transOpacity {
  transition: opacity 1s; }

.fullOpacity {
  opacity: 1; }

.noOpacity {
  opacity: 0; }

.hiddenRight {
  right: -1000px; }

.fullWidth {
  width: 100%; }

.noWidth {
  width: 0; }

.noHeight {
  height: 0; }

.autoHeight {
  height: auto; }

.openNav {
  right: 0px; }

.content {
  transition: all 400ms;
  width: 80%;
  margin: 15% 10%; }
  .content #profpic {
    position: relative;
    float: right;
    width: 40%;
    margin-left: 5%;
    max-width: 330px; }
    .content #profpic img {
      width: 100%;
      border-radius: 5px; }
  .content p {
    width: 100%;
    text-indent: 5%; }

#ProjectComponent {
  width: 100%; }

#FilterManager {
  width: 100%; }

#searchBar {
  width: 100%;
  height: 50px;
  background-color: #d0d5db;
  margin: 3% auto;
  position: relative;
  transform: skew(20deg);
  z-index: 4; }

#query {
  width: 80%;
  font-size: 130%;
  position: absolute;
  left: 20px;
  transform: skew(-30deg);
  border: none;
  background-color: #d0d5db;
  padding: 10px 0 10px 5px;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 300;
  color: #434B63;
  margin-top: 2px; }

#query:hover {
  background-color: #edeff1; }

#query:focus {
  background-color: #FFF; }

#searchBar:hover {
  background-color: #dee2e6; }

::placeholder {
  color: #2e3445;
  opacity: 0.75; }

.disp-grid {
  grid-row-gap: 10px;
  display: grid; }
  .disp-grid #skills-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 8); }
  .disp-grid #contact-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2); }

.two-disp-grid {
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: 1fr; }

.grid-cell {
  width: 80%;
  margin: auto;
  max-width: 420px;
  display: block;
  box-shadow: 0px 0px 5px rgba(141, 141, 139, 0.75);
  border-radius: 5px;
  position: relative; }

.grid-cell:hover {
  box-shadow: 0px 0px 10px rgba(141, 141, 139, 0.75); }

.sub-grid-cell {
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #FFF;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434B63; }

.bkg-cell {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center; }
  .bkg-cell img {
    width: 20%; }

.footer-nav {
  width: 40%;
  margin: 3%; }
  .footer-nav ul {
    list-style-type: none; }
    .footer-nav ul li {
      padding: 1px; }

.footer-info {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
  margin: 3%;
  text-align: right;
  line-height: 100%; }

footer {
  box-sizing: border-box;
  position: relative;
  background-color: #FFF;
  border-style: solid;
  border-color: #434B63;
  border-width: 0px;
  border-top-width: 1px;
  width: 100%;
  color: #434B63;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 10pt;
  margin: auto;
  margin-top: 20%; }
  footer img {
    display: inline-block;
    margin: auto;
    width: 30%;
    position: absolute;
    bottom: 15%;
    left: 30%; }

/*# sourceMappingURL=main.css.map */
