$midGray: #696969;
$mainDark: #434B63;
$mainLight: #B3BBC5;
$darkBlue: #354557;
$lightGrey: #C3CCD6;
$darkerWhite: darken(#FFF, 1%);

*{
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

#homeBody {
	// background-color: black;
}

a{
	text-decoration: none;
	&[download] {
		margin-left: 35px;
		position: relative;
		color: $mainDark;
		font-size: 1.2em;
		&:hover {
			text-decoration: underline;
		}
		&:before {
			content: '';
			background-image: url(../img/icon/downloadIconDark.png);
	    position: absolute;
	    height: 30px;
	    width: 30px;
	    background-size: cover;
	    left: -35px;
	    bottom: -4px;
		}
	}
}

p, div{
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	font-weight: 300;
}

div{
	display: inline-block;
}

header{
	z-index: 5;
	top: 0;
	width: 100vw;
	position: absolute;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}

#headerSVG {
	position: absolute;
	z-index: -5;
	-webkit-transition: all 400ms;
	transition: all 400ms;
  polygon {
  	fill: white;
  }
}
.tabletSVG, .desktopSVG {
	display: none;
}

h1, h2 {
	font-family: 'Montserrat', 'Lato', sans-serif;
}

h1 {
	color: $mainDark;
	font-size: 210%;
	font-weight: 400;
}

h3{
	color: $mainDark;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-size: 190%;
	font-weight: 300;
}

h4{
	color: $mainDark;
	-webkit-text-fill-color: $mainDark;
	-moz-text-fill-color: $mainDark;
	font-size: 16pt;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-weight: 400;
}

h5{
	text-decoration: underline;
}

input[type="checkbox"] {
	height:auto;
	width: auto;
}

ul {
	list-style-type: none;
}

button {
	padding: 5px 10px;
	margin: 5px;
	font-family: 'Montserrat', 'Lato', sans-serif;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	&:hover {
		text-decoration: underline;
	}
}

@keyframes headerFadeIn {
	from {
		background-color: white;
		top: -200px;
	}
	to {
		position: fixed;
		top: 0px;
		z-index: 5;
	}
}

@-webkit-keyframes webKitHeaderFadeIn {
	0% {
		background-color: white;
		top: -200px;
	}
	100% {
		position: fixed;
		top: 0px;
		z-index: 5;
	}
}

#menuEntry {
  z-index: 20;
  position: absolute;
  top: 0;
}

.fixedHeader{
	animation: headerFadeIn 500ms forwards;
	position: fixed;
	z-index: 5;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	#headerSVG {
		-webkit-filter: drop-shadow(0px 3px 10px #d3d3d3);
	  filter: drop-shadow(0px 3px 10px #d3d3d3);
	}
}

#toggle {
	display: inline-block;
	float: right;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	padding: 30px 8%;
	width: 120px;
}


#close{
	color: #FFF;
	text-align: right;
	cursor: pointer;
	padding: 34px 8vw;
	float: right;
	#toggleLine4 {
		position: relative;
		transform: skew(-50deg);
		top: 3px;
	}
	.lineOver#toggleLine4 {
		-webkit-animation: rotateNegativeFortyFive 1.5s forwards;
		animation: rotateNegativeFortyFive 1.5s forwards;
	}
	#toggleLine5 {
		position: relative;
		top: -5px;
		transform: skew(-50deg);
	}
	.lineOver#toggleLine5 {
		-webkit-animation: rotateFortyFive 1.5s forwards;
		animation: rotateFortyFive 1.5s forwards;
	}
}

#titleLink{
	margin: auto;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	-webkit-text-fill-color: $mainDark;
	-moz-text-fill-color: $mainDark;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	h1 {
		font-family: 'Montserrat', 'Lato', sans-serif;
		display: inline-block;
		font-size: 120%;
	}
	img{
		height: 70px;
		margin: auto;
		padding: 10px 10px 0 15px;

	}
	// remove if not using png
	#toggleSVG {
		width: 50px;
		height: 20px
	}
	// end remove
	#skewBlock {
		background-color: white;
		transform: skew(-50deg);
		width: 100px;
		height: 100px;
		clear: right;
		position: relative;
		top: 100px;
		left: -50px;
		box-shadow: 0px 3px 10px #d3d3d3;
	}
}

.singleToggleLine {
	width: 50px;
	height: 3px;
	transform: skew(50deg);
	background-color: $mainDark;
	display: block;
	margin: 4px 0;
}
.singleToggleLine.posFortyFive {
	-webkit-transform: rotate(45deg) skew(-50deg);
	transform: rotate(45deg) skew(-50deg);
	position: relative;
	top: -5px;
}
.singleToggleLine.negFortyFive {
	-webkit-transform: rotate(-45deg) skew(-50deg);
	transform: rotate(-45deg) skew(-50deg);
	position: relative;
	top: 3px;
}

.lineUnder {
	position: relative;
}
.lineUnder#toggleLine1 {
	top: 7px;
	-webkit-animation: rotateNegativeFortyFive 600ms forwards;
	animation: rotateNegativeFortyFive 600ms forwards;
}
#toggleLine2 {
	transform: skew(-50deg);
}
.lineUnder#toggleLine2 {
	-webkit-animation: rotateFortyFive 600ms forwards;
	animation: rotateFortyFive 600ms forwards;
}
.lineUnder#toggleLine3 {
	top: -7px;
	-webkit-animation: rotateNegativeFortyFive 600ms forwards;
	animation: rotateNegativeFortyFive 600ms forwards;
}
.lineOver {
	background-color: white;
	clear: both;
}

@keyframes rotateNegativeFortyFive {
	to {
		-webkit-transform: rotate(-45deg) skew(-50deg);
		transform: rotate(-45deg) skew(-50deg);
	}
}

@keyframes rotateFortyFive {
	to {
		-webkit-transform: rotate(45deg) skew(-50deg);
		transform: rotate(45deg) skew(-50deg);
	}
}

.canvasCover {
  width: 100%;
  height: 80vw;
  position: absolute;
  z-index: 5;
}

.canvasContainer {
  display: flex;
}

#landingCanvasContainer {
  -webkit-box-align: end;
  align-items: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 50px;
  max-height: 80vw;
  width: 100vw;
}

#designCanvasContainer {
	min-height: 450px;
	width: 100vw;
	position: absolute;
  z-index: 1;
  -webkit-clip-path: polygon(0% 2%, 0% 76%, 100% 100%, 100% 0%, 15% 0%);
  clip-path: polygon(0% 2%, 0% 76%, 100% 100%, 100% 0%, 15% 0%);
  // background-color: $mainDark;
  background-color: #354557;
}

#developCanvasContainer {
	position: absolute;
	// clip-path: polygon(0% 0%, 0% 80%, 100% 65%, 100% 0%);
  overflow: hidden;
  max-height: 800px;
  top: -10%;
}

canvas {
  max-width: 100%;
  max-height: 80vw;
}

#landingFigure {
	position: relative;
	width: 100vw;
	img {
		vertical-align: middle;
	}
	h2, h1 {
		font-weight: 300;
	}
	h2:nth-of-type(3) {
		font-family: "Nothing You Could Do";
	}
	h1 {
	}
}
#landingCaption {
	position: absolute;
  top: 40%;
  margin-left: 10%;
  // font-family: "Nothing You Could Do";
  // font-size: 28pt;
  // width: 40%;
  width: 60%;
  color: #434B63;
  z-index: 6;
}

#breakThings {
	margin-left: 0;
	font-size: 16pt;
	transform: skew(20deg);
	border-radius: 0;
	border-color: $mainDark;
	p {
		transform: skew(-20deg);
		padding: 0 5px;
	}
}

#designSection {
  height: 80vw;
	position: relative;
	padding: 0;
  // padding-bottom: 10%;
	svg {
		position: absolute;
		left: 0;
		top: 0;
	}
	polygon {
		fill: $darkBlue;
	}
	p {
    color: white;
    line-height: 1.4;
    position: relative;
    float: right;
    clear: right;
    margin-right: 10%;
    z-index: 2;
    width: 45%;
    box-sizing: border-box;
    padding: 0;
    &:nth-of-type(2) {
    	margin-top: 3%;
    }
	}
	h3 {
		color: $lightGrey;
		-webkit-text-fill-color: $lightGrey;
		b {
			font-weight: 600;
		}
	}
}

#developSection {
	background-color: black;
	height: 600px;
	top: -20vw;
  overflow: hidden;
  width: 100vw;
	p {
  	color: #EFEFEF;
  	line-height: 1.4;
  	margin-left: 20%;
    position: relative;
    top: 25%;
  }
  svg {
  	position: absolute;
  	bottom: -1px;
  	polygon {
  		fill: white;
  	}
  	path {
  		fill: white;
  		display: none;
  	}
  }
  canvas {
  	max-width: 100%;
    max-height: 160vw;
  }
}
#developSection:before {
	background-color: black;
  width: 100vw;
  content: '';
  position: absolute;
  z-index: -10;
  height: 400px;
  top: -40%;
}

#leadershipSection {
	background-color: white;
	p {
    margin-left: 15%;
    margin-top: 5%;
	}
}

#egoSection {
	background-color: #FFF;
	width: 100%;
}

#egoNote {
	display: block;
	transition: transform 0.4s, height 0.4s;
	padding-bottom: 5%;
	p {
		transition: transform 0.4s, opacity 0.3s linear 0.5s;
		width: 75%;
		margin-left: 10%;
		text-indent: 0;
	}
}


#egoHeader {
	text-decoration: none;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  padding: 5%;
  &:after {
  	content: '+';
  	float: right;
    padding-right: 10px;
    transition: transform 0.5s;
    transform: translateY(-5px);
    font-size: 22pt;
  }
  &:hover {
  	cursor: pointer;
  }
}

.expandable {
  position: relative;
  box-sizing: border-box;
  // necessary for smooth 'push down' effect
  transition: margin 0.5s;
  margin-bottom: 0;
}
.expanding {
  display: block;
  width: 100%;
  // abs position is crucial
  position: absolute;
  left: 0;
  transition: transform 0.5s;
  // set it to be hidden by default
  transform: translateY(-50%) scaleY(0);
}
.expandContent {
  transition: transform 0.5s;
  // try to reduce text warping effects
  transform: translateY(50%) scaleY(2);
	p {
		opacity: 0;
		transition: opacity 0.3s linear 0.5s;
	}
}

.expanded {
  #egoHeader, .resumeHeader {
    &:after {
      // turns '+' into 'x'
      transform: rotate(45deg);
    }
  }
  .expanding {
    // make it full height; effectively reset properties
    transform: translateY(0) scaleY(1);
    .expandContent {
      transform: translateY(0) scaleY(1);
      p {
      	opacity: 1;
      }
    }
  }
}

#finalLandingSection {
	width: 100%;
	h1, h2 {
		padding: 5% 10%;
		font-weight: 400;
		font-size: 36pt;
		color: $mainDark;
		margin-top: 10%;
	}
	$headerTriClip: polygon(1% 32%, 20% 93%, 94% 15%);
	h2:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 100%;
    max-width: 550px;
    height: 35%;
    z-index: -1;
    // background-color: $mainLight;
    background-color: rgba(185, 197, 202, 0.6);
    -webkit-clip-path: $headerTriClip;
    clip-path: $headerTriClip;
	}
	a {
		padding: 5% 10%;
		color: $mainDark;
		font-size: 16pt;
    float: right;
		&:after {
			content: '';
			position: absolute;
			bottom: -21px;
			height: 12px;
			width: 12px;
			border: 2px solid $mainDark;
			transform: rotate(45deg);
			transition: transform 0.3s;
			border-left: 0;
			border-bottom: 0;
		}
	}
	a:hover::after {
		transform: rotate(45deg) translate(5px, -5px);
	}
	#fullLogo {
		width: 100%;
		display: block;
		max-width: 450px;
		height: 400px;
		margin: auto;
		background-image: url(../img/MalcMaturenFull.png);
		background-size: contain;
	}
}

.content {
	transition: all 400ms;
	width: 80%;
  padding: 150px 10%;
	p{
		width: 100%;
		text-indent: 5%;
	}
	&#contactContent {
    padding: 100px 0;
    width: 100%;
		h1 {
			float: right;
			margin-right: 8%;
			margin-bottom: 30px;
			font-weight: 300;
		}
	}
	&#homeContent {
		width: 100%;
		padding: 0;
		margin-top: -5px;
	}
	.landingSection {
		position: relative;
		padding: 5% 0;
		p {
			width: 60%;
	    padding: 0 10%;
	    text-indent: 0;
		}
		h4 {
		  position: absolute;
		  font-size: 36pt;
		}
	}
}
#homeContent p {
	font-family: 'Red Hat Text';
}

#designHeader {
  z-index: 2;
	font-weight: 300;
  font-family: Muli;
  color: $lightGrey;
  -webkit-text-fill-color: $lightGrey;
  position: relative;
  margin: 20px;
  margin-top: 40px;
  margin-right: 20%;
  font-size: 48pt;
  float: right;
}
#developHeader {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: bottom right;
  font-weight: 300;
  font-family: Muli;
  color: #C3CCD6;
  -webkit-text-fill-color: #C3CCD6;
  top: 20%;
  left: -200px;
}
#leadershipHeader {
	position: relative;
	margin-left: 5%;
}

#resume{
	padding: 150px 10%;
	h1 {
		font-weight: 300;
		font-size: 250%;
		float: right;
	}
}

.resumeHeader {
  width: 100%;
  text-decoration: none;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2em;
  border: 1px solid $lightGrey;
  padding: 8px 10px;
  box-sizing: border-box;
  border-width: 1px 0 0 0;
	&:after {
  	content: '+';
  	float: right;
    padding-right: 10px;
    transition: transform 0.5s;
    // transform: translateY(-5px);
    font-size: 22pt;
  }
  &:hover {
  	cursor: pointer;
  }
}

.resumeExpandable {
	width: 100%;
}

.resumeContent {
	width: 100%;
	border: 4px solid $mainDark;
	border-width: 0 0 0 4px;
	margin-left: 5px;
  padding-left: 15px;
  margin-top: 15px;
	ul {
		margin-left: 3em;
    margin-bottom: 20px;
	}
	li:before {
    content: "";
    border-color: transparent $mainDark;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
	}
	h3 {
		margin: 10px 0 10px 5px;
		width: 90%;
    border: 2px solid #B3BBC5;
    border-width: 0 0 3px 0;
    padding-bottom: 5px;
	}
	h3:not(:first-of-type) {
		margin-top: 35px;
	}
	h4, h5 {
    margin-left: 5px;
    text-decoration: none;
	}
	h5 {
		margin-top: 5px;
		color: #1C242E;
	}
	p {
		text-indent: 0;
    margin: 15px 0 0 5px;
    width: 85%;
	}
}

#languagesContainer {
	.resumeContent {
		margin-top: 0;
	}
}

#misson-cnt {
	position: relative;
  margin: 20px 0;
}

#mission {
	background-color: $mainDark;
	color: white;
  width: 80vw;
  position: relative;
  left: -10vw;
  padding: 0 10vw;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 85% 92%, 3% 92%, 0% 100%);
  clip-path: polygon(0% 0, 100% 0%, 85% 92%, 3% 92%, 0% 100%);
}

#missionBKG {
	background-color: darken($mainDark, 5%);
	width: 110%;
	height: 100%;
	position: absolute;
	top: 0;
  left: -10vw;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 85% 100%, 0% 100%);
  clip-path: polygon(0% 0, 100% 0%, 85% 100%, 0% 100%);
}

#missionHeader {
	font-weight: 300;
  font-size: 2.5em;
  margin: 15px 0px;
  margin-left: -5vw;
}

#missionText {
	margin-bottom: 30px;
	line-height: 1.4em;
	margin-left: -5vw;
}

.skillSection {
	display: block;
}

// grid that holds filtering options
#filterGrid, #sortGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	// grid-column-gap: 4px;
	transform: skew(-20deg);
	background-color: lighten($mainLight, 15%);
	width: 90%;
}

// grid that holds sorting options
#sortGrid {
	grid-template-columns: 1fr;
}

// label surrounding filter options
.FilterLabel {
	grid-column: 1 / 3;
	width: 95%;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 12px 0 8px 8px;
	box-sizing: border-box;
	color: $mainDark;
	transform: skew(20deg);
  box-sizing: border-box;
  padding-left: 50px;
  padding-bottom: 7px;
}

// Hide the browser's default checkbox
.filterCheckbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	// height: 32px;
}

.filterCheckbox[disabled] {
	cursor: default;
}

.filterCheckbox[disabled] +.FilterBKG {
		cursor: default;
		+ p {
			cursor: default;
		}
}

// When the checkbox is checked, add a blue background
.filterCheckbox:checked + .FilterBKG {
	background-position: -100% 0;
	.checkmark {
		background-color: $mainDark;
		border: 1px solid $mainDark;

		// Show the checkmark when checked
		&:before {
			display: block;
		}
	}
	// recolor the label white
	+ p {
		color: white;
	}
}


// Create a custom checkbox
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 35px;
	transform: skew(-20deg);
	background-color: #FFF;
	box-sizing: border-box;
	border: 1px solid lighten($mainLight, 15%);
	border-width: 0 1px;
	transform: skew(0);
	transition: background-color .5s ease-in, border .2s ease-in;

	// Create the checkmark/indicator (hidden when not checked)
	&:before {
		content: "";
		position: absolute;
		display: none;
		left: 12px;
		top: 7px;
		width: 6px;
		height: 12px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(50deg) skew(20deg);
		-ms-transform: rotate(50deg) skew(20deg);
		transform: rotate(50deg) skew(20deg);
	}
}


// div to change color on sibling input with pure CSS
.FilterBKG {
	width: 100%;
	// background-color: lighten($mainLight, 15%);
	background-color: #FFF;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 32px;
	transform: skew(-20deg);
	z-index: -1;
  box-sizing: border-box;

	// sliding grey to blue bkg on click
  background-size: 200% 100%;
	background-image: linear-gradient(to right, #FFF 50%, $mainDark 50%);
	transition: background-position .5s ease-out;
	-webkit-transition: background-position .5s ease-out;
	-moz-transition: background-position .5s ease-out;

}
.filterCheckbox + .FilterBKG + p {
	text-indent: -5px;
}


$greyedOutFilters: #d5d5d5;
.selectorButton {
	margin-top: 20px;
	.FilterBKG {
		// background-image: linear-gradient(to right, #FFF 50%, lighten($mainDark, 12%) 50%);
		border-radius: 5px;
	}
	.filterCheckbox + .FilterBKG {
		.checkmark {
			border-radius: 5px;
		}
	}
	.filterCheckbox:checked + .FilterBKG {
		.checkmark {
			// background-color: lighten($mainDark, 12%);
			// border: 1px solid lighten($mainDark, 12%);
			&:before {
				border-color: $greyedOutFilters;
			}
		}
		+ p {
			color: $greyedOutFilters;
		}
	}
}

.selectorButton:nth-last-of-type(2) {
	grid-column: 1 / 2;
}
.selectorButton:last-of-type {
	grid-column: 2 / 3;
	width: 90%;
}


#ManagmentButtons {
	width: 100%;
	display: flex;
	padding: 10px;
	background-color: white;
	flex-direction: row-reverse;
	button {
		margin: 0 5px;
		border: 1px solid $mainLight;
	}
	.filtersApplied {
		background-color: $mainDark;
		color: white;
	}
}

#FilterContainer, #SortContainer {
	width: 100%;
	position: absolute;
	transition: transform .4s ease-out;
	display: block;
}

.shrinkToHide {
	transform: translate(0, -50%) scale(1, 0) skew(0deg);
}

.shrinkToHide#FilterContainer, .shrinkToHide#SortContainer {
	// translate pixels are roughly half of filterGrid height
	transform: translate(0, -50%) scale(1, 0) skew(0deg);
}

.gallery {
	display: grid;
	grid-template-columns: 80vw;
	width: 100%;
	transition: all .4s;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	position: relative;
  top: 15px;
}

.pushedDown {
	// TODO: maybe make this better?;
	top: 250px;
}



.projGridCell {
	width: 80vw;
	height: 315px;
}

.proj {
  width: 80vw;
  height: 315px;
  cursor: pointer;
	box-shadow: 0px 2px 5px lighten($mainDark, 50%);
  background-color: white;
  color: black;

  &:hover{
		box-shadow: 0px 5px 6px lighten($mainDark, 50%);
		.projReadMore {
			text-decoration: underline;
		}
	}

  h4, p {
		margin-left: 5%;
		margin-top: 2%;
	}
	h4 {
		width: 80%;
		font-size: 18pt;
	}

	div[data-inverse-flip-id] {
		width: 100%;
	}
	.projInfo {
		width: 100%;
		height: 100%;
	  min-height: 315px;
		position: relative;
		transition: box-shadow 0.5s;
		background-color: white;
	}
	p.projDescription {
	  overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-indent: 0;
		width: 80%;
		margin-bottom: 13%;
	}
	.coverPhotoContainer {
		width: 100%;
		height: 120px;
		overflow: hidden;
	}
	.projCoverPhoto {
		width: 100%;
		object-fit: cover;
		position: relative;
		top: -35px;
	}

	.projTags {
		margin-top: 5%;
		margin-left: 5%;
		li {
			font-size: 12pt;
			color: #FFF;
			background-color: $mainDark;
			display: inline-block;
	    border-radius: 10px;
	    padding: 2px 10px;
	    margin-right: 5px;
	    margin-bottom: 2%;
		}
	}
	.projClose {
		transition: transform 0.6s;
		transform: scale(0, 0);
		display: block;
		right: 0;
		position: absolute;
	}
	.projReadMore {
		transition: opacity 0.5s;
		opacity: 1;
		float: right;
		padding: 3px 5px;
	  margin: 10px;
	  position: absolute;
	  bottom: -1px;
	  right: 5px;
	  color: $mainDark;
	}
}

.proj.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  z-index: 20;
  .coverPhotoContainer {
		width: 100%;
		height: auto;
		overflow: visible;
	}
	.projClose {
		padding: 30px;
		cursor: pointer;
		z-index: 21;
		transform: scale(1, 1);
	}
	.projInfo {
  	height: 100vh;
  	overflow-y: scroll;
		overflow-x: hidden;
  	// box-shadow: 2px 0px 10px 1px rgba(67,75,99,0.5);
  	p.projDescription {
			overflow: visible;
			white-space: normal;
			text-indent: 5%;
  	}
	}
	.projReadMore {
		opacity: 0;
	}

	// begin specific cover image adjustments
	#emberCoverIMG, #fooyaCoverIMG {
		max-width: none;
	}
	// end specific cover image adjustments
}

// begin specifc cover image adjustments
#emberCoverIMG {
  max-width: 310px;
  left: 5%;
  top: -10px;
}
#fooyaCoverIMG {
	width: 90%;
	max-width: 310px;
}
// end specific cover image adjustments

#languages{
	margin-left: 10%;
}

.titleBar{
	box-sizing: border-box;
	display: inline-block;
	background-color: $mainDark;
	border-style: solid;
	border-width: 0px;
	width: 100%;
	color: #FFF;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-size: 2em;
	transition: all 400ms;
}

#menu-container{
	display: inline-block;
	position: fixed;
	top: 0px;
	width: 50vw;
	height: 100vh;
	z-index: 10;
	transition: all 600ms;
	background-color: darken($mainDark, 10%);
	font-family: 'Montserrat', 'Lato', sans-serif;
	color: #FFF;
	a {
		color: #FFF;
		:hover {
			h2 {
				text-decoration: underline;
			}
		}

		li {
			font-size: 14pt;
			padding: 10%;
			border-bottom: 1px solid white;

			h2{
				font-family: 'Lato', sans-serif;
				font-weight: 300;
			}
		}

		#navhome{
			border-top: 1px solid white;
			clear: right;
		}
	}
}


.current-page{
	background-color: $mainLight;
	color: $mainDark;
}

.bodyCover, .projBodyCover {
	display: inline-block;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 7;
	height: 100vh;
	width: 100vw;
	transition: all 100ms;
	background-color: rgba(169,169,169,0.5);
}

.projBodyCover {
	z-index: 19;
	opacity: 0;
	transition: opacity 1s;
	display: none;
}


.hidden {
	display: none;
}

.transOpacity {
	transition: opacity 1s;
}

.fullOpacity {
	opacity: 1;
}

.noOpacity {
	opacity: 0;
}

.hiddenRight {
	right: -1000px;
}

.fullWidth {
	width: 100%;
}

.noWidth {
	width: 0;
}

.noHeight {
	height: 0;
}
.autoHeight {
	height: auto;
}

.openNav {
	right: 0px;
}

#ProjectComponent {
	width: 100%;
}

#FilterManager {
	width: 100%;
	position: relative;
}

#searchBar {
	width: 100%;
	height: 50px;
	background-color: lighten($mainLight, 10%);
	margin: 3% auto;
	position: relative;
	transform: skew(20deg);
	z-index: 4;
}

#query {
	width: 80%;
	font-size: 130%;
	position: absolute;
	left: 20px;
	transform: skew(-30deg);
	border: none;
	background-color: lighten($mainLight, 10%);
	padding: 10px 0 10px 5px;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-weight: 300;
	color: $mainDark;
	margin-top: 2px;
}

#query:hover {
	background-color: lighten($mainLight, 20%);
}

#query:focus {
	background-color: #FFF;
}

#searchBar:hover {
	background-color: lighten($mainLight, 15%);
}

::placeholder {
	color: darken($mainDark, 10%);
	opacity: 0.75;
}

.disp-grid{
	grid-row-gap: 10px;
	display: grid;
	#skills-grid{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1fr, 8);
	}
}

.two-disp-grid{
	grid-row-gap: 10px;
	display: grid;
	grid-template-columns: 1fr;
}

#emailCell {
	&:hover {
		cursor: pointer;
	}
	#email-info {
		border: none;
		text-align: center;
		font-family: 'Montserrat', 'Lato', sans-serif;
		font-size: 14pt;
		background-color: $mainDark;
	}
}

.grid-cell{
	width: 80%;
	margin: auto;
	height: 120px;
	max-width: 420px;
	display: block;
	box-shadow: 0px 0px 5px rgba(141, 141, 139, .75);
	position: relative;
	&:nth-of-type(odd) {
		transform: skew(20deg);
		.sub-grid-cell, .bkg-cell {
			margin-left: 5%;
			transform: skew(-20deg);
			text-indent: -20%;
		}
	}
	&:nth-of-type(even) {
		transform: skew(-20deg);
		margin-top: 25%;
		.sub-grid-cell, .bkg-cell {
			margin-left: -5%;
			transform: skew(20deg);
			text-indent: 20%;
		}
	}
}

.wide-grid-cell {
	width: 100%;
	background-color: $mainDark;
	color: white;
	h4, input {
		color: white;
    -webkit-text-fill-color: white;
	}

}

.sub-grid-cell{
	width: 100%;
	height: 2em;
	line-height: 2em;
	position: absolute;
	bottom: 0px;
	left:0px;
	text-align: center;
	color: $mainDark;
}

.bkg-cell{
	width: 100%;
	height: 70%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	img {
		width: 20%;
	}
}
.contactBox {
	width: 100%;
	background-repeat: no-repeat;
	h2 {
		color: $mainDark;
		font-weight: 400;
    margin: 15% 0 5% 5%;
    font-size: 1.8em;
	}
	h3 {
		color: black;
		font-weight: 400;
		margin-left: 5%;
	}
	button {
		transform: skew(20deg);
		background-color: #D8DCDF;
		border-radius: 0;
		box-sizing: border-box;
		width: 40%;
    flex-grow: 1;
    border: none;
    padding: 10px;
    &.copyButton {
    	p {
    		&:before {
    			content: '';
    			background-image: url(../svg/contact/clipboard-action.svg);
    			background-repeat: no-repeat;
    			position: absolute;
    			width: 20px;
    			height: 20px;
    			top: 1px;
		      left: -25px;
    		}
    	}
    }

    &.composeButton {
    	p {
    		&:before {
    			content: '';
    			background-image: url(../svg/contact/compose-action.svg);
    			background-repeat: no-repeat;
    			position: absolute;
    			width: 20px;
    			height: 20px;
    			top: 1px;
		      left: -25px;
    		}
    	}
    }

    &.callButton {
    	p {
    		&:before {
    			content: '';
    			background-image: url(../svg/contact/phone-action.svg);
    			background-repeat: no-repeat;
    			position: absolute;
    			width: 20px;
    			height: 20px;
    			top: 1px;
		      left: -25px;
    		}
    	}
    }

		p {
			transform: skew(-20deg);
			font-size: 1.9em;
			color: $mainDark;
			font-family: 'Montserrat', 'Lato', sans-serif;
			font-weight: 400;
			position: relative;
			width: -moz-fit-content;
			width: fit-content;
      margin: auto;
		}
	}
}

.contactButtons {
	width: 90%;
	display: flex;
  margin: 5% auto;
}

#emailContact {
	background-image: url(../svg/contact/email-mobile.svg);
}

#phoneContact {
	background-image: url(../svg/contact/phone-mobile.svg);
  background-position: right -45px bottom 5px;
  padding-bottom: 20%;
  background-size: 60%;
}
