$midGray: #696969;
$mainDark: #434B63;
$mainLight: #B3BBC5;
$darkBlue: #354557;
$lightGrey: #C3CCD6;
$darkerWhite: darken(#FFF, 1%);

*{
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

a{
	text-decoration: none;
	[href$= ".pdf"]{
		background-image: url(./static/img/pdf-icon);
	}
	:hover {
		text-decoration: underline;
	}
}

p, div{
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	font-weight: 300;
}

div{
	display: inline-block;
}

header{
	z-index: 5;
	top: 0;
	width: 100vw;
	position: absolute;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}

#headerSVG {
	position: absolute;
	z-index: -5;
	-webkit-transition: all 400ms;
	transition: all 400ms;
  polygon {
  	fill: white;
  }
}
.tabletSVG, .desktopSVG {
	display: none;
}

h3{
	color: $mainDark;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-size: 190%;
	font-weight: 300;
}

h4{
	color: $mainDark;
	-webkit-text-fill-color: $mainDark;
	-moz-text-fill-color: $mainDark;
	font-size: 16pt;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-weight: 400;
}

h5{
	text-decoration: underline;
}

input[type="checkbox"] {
	height:auto;
	width: auto;
}

ul {
	list-style-type: none;
}

button {
	padding: 5px 10px;
	margin: 5px;
	font-family: 'Montserrat', 'Lato', sans-serif;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	&:hover {
		text-decoration: underline;
	}
}

@keyframes headerFadeIn {
	from {
		background-color: white;
		top: -200px;
	}
	to {
		position: fixed;
		top: 0px;
		z-index: 5;
	}
}

@-webkit-keyframes webKitHeaderFadeIn {
	0% {
		background-color: white;
		top: -200px;
	}
	100% {
		position: fixed;
		top: 0px;
		z-index: 5;
	}
}

.fixedHeader{
	animation: headerFadeIn 500ms forwards;
	position: fixed;
	z-index: 5;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	#headerSVG {
		-webkit-filter: drop-shadow(0px 3px 10px #d3d3d3);
	  filter: drop-shadow(0px 3px 10px #d3d3d3);
	}
}

#toggle {
	display: inline-block;
	float: right;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	padding: 30px 8%;
	width: 120px;
}


#close{
	color: #FFF;
	text-align: right;
	cursor: pointer;
	padding: 34px 8vw;
	float: right;
	#toggleLine4 {
		position: relative;
		transform: skew(-50deg);
		top: 3px;
	}
	.lineOver#toggleLine4 {
		-webkit-animation: rotateNegativeFortyFive 1.5s forwards;
		animation: rotateNegativeFortyFive 1.5s forwards;
	}
	#toggleLine5 {
		position: relative;
		top: -5px;
		transform: skew(-50deg);
	}
	.lineOver#toggleLine5 {
		-webkit-animation: rotateFortyFive 1.5s forwards;
		animation: rotateFortyFive 1.5s forwards;
	}
}

#titleLink{
	margin: auto;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	-webkit-text-fill-color: $mainDark;
	-moz-text-fill-color: $mainDark;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	h1 {
		font-family: 'Montserrat', 'Lato', sans-serif;
		display: inline-block;
		font-size: 120%;
	}
	img{
		height: 70px;
		margin: auto;
		padding: 10px 10px 0 15px;

	}
	// remove if not using png
	#toggleSVG {
		width: 50px;
		height: 20px
	}
	// end remove
	#skewBlock {
		background-color: white;
		transform: skew(-50deg);
		width: 100px;
		height: 100px;
		clear: right;
		position: relative;
		top: 100px;
		left: -50px;
		box-shadow: 0px 3px 10px #d3d3d3;
	}
}

.singleToggleLine {
	width: 50px;
	height: 3px;
	transform: skew(50deg);
	background-color: $mainDark;
	display: block;
	margin: 4px 0;
}
.singleToggleLine.posFortyFive {
	-webkit-transform: rotate(45deg) skew(-50deg);
	transform: rotate(45deg) skew(-50deg);
	position: relative;
	top: -5px;
}
.singleToggleLine.negFortyFive {
	-webkit-transform: rotate(-45deg) skew(-50deg);
	transform: rotate(-45deg) skew(-50deg);
	position: relative;
	top: 3px;
}

.lineUnder {
	position: relative;
}
.lineUnder#toggleLine1 {
	top: 7px;
	-webkit-animation: rotateNegativeFortyFive 600ms forwards;
	animation: rotateNegativeFortyFive 600ms forwards;
}
#toggleLine2 {
	transform: skew(-50deg);
}
.lineUnder#toggleLine2 {
	-webkit-animation: rotateFortyFive 600ms forwards;
	animation: rotateFortyFive 600ms forwards;
}
.lineUnder#toggleLine3 {
	top: -7px;
	-webkit-animation: rotateNegativeFortyFive 600ms forwards;
	animation: rotateNegativeFortyFive 600ms forwards;
}
.lineOver {
	background-color: white;
	clear: both;
}

@keyframes rotateNegativeFortyFive {
	to {
		-webkit-transform: rotate(-45deg) skew(-50deg);
		transform: rotate(-45deg) skew(-50deg);
	}
}

@keyframes rotateFortyFive {
	to {
		-webkit-transform: rotate(45deg) skew(-50deg);
		transform: rotate(45deg) skew(-50deg);
	}
}

#landingFigure {
	position: relative;
	img {
		vertical-align: middle;
	}
}
#landingCaption {
	position: absolute;
  top: 40%;
  margin-left: 10%;
  // font-family: "Nothing You Could Do";
  // font-size: 28pt;
  // width: 40%;
  width: 60%;
  color: #434B63;
}
.triangle-down-right {
    width: 10%;
    height: 0;
    padding-top: 10%;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
}
.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;

    border-top: 500px solid transparent;
    border-right: 700px solid $darkBlue;
}

#designSection {
  height: 300px;
	position: relative;
	svg {
		position: absolute;
		left: 0;
		top: 0;
	}
	polygon {
		fill: $darkBlue;
	}
	p {
		color: white;
		line-height: 1.4;
		padding: 5% 10%;
    position: relative;
    z-index: 1;
	}
	h3 {
		color: $lightGrey;
		-webkit-text-fill-color: $lightGrey;
		b {
			font-weight: 600;
		}
	}
}

#developSection {
	background-color: black;
	height: 600px;
	z-index: -1;
	p {
  	color: #EFEFEF;
  	line-height: 1.4;
  	margin-left: 20%;
    position: relative;
    top: 17%;
  }
  svg {
  	position: absolute;
  	bottom: 0;
  	polygon {
  		fill: white;
  	}
  }
}

#humanSection {
	p {
    margin-left: 15%;
    margin-top: 5%;
	}
}

.content {
	.landingSection {
		position: relative;
		padding: 5% 0;
		p {
			width: 60%;
	    padding: 0 10%;
	    text-indent: 0;
		}
		h4 {
		  position: absolute;
		  font-size: 36pt;
		}
	}
}
#homeContent p {
	font-family: 'Red Hat Text';
}

#designHeader {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
  z-index: 2;
  right: -5%;
  top: 30%;
	font-weight: 300;
  font-family: Muli;
  color: $lightGrey;
  -webkit-text-fill-color: $lightGrey;
}
#developHeader {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: bottom right;
  font-weight: 300;
  font-family: Muli;
  color: #C3CCD6;
  -webkit-text-fill-color: #C3CCD6;
  top: 13%;
  left: -200px;
}
#humanHeader {
	position: static;
	margin-left: 5%;
}

// grid that holds filtering options
#filterGrid, #sortGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	// grid-column-gap: 4px;
	transform: skew(-20deg);
	background-color: lighten($mainLight, 15%);
	width: 90%;
}

// grid that holds sorting options
#sortGrid {
	grid-template-columns: 1fr;
}

// label surrounding filter options
.FilterLabel {
	grid-column: 1 / 3;
	width: 95%;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 12px 0 8px 8px;
	box-sizing: border-box;
	color: $mainDark;
	transform: skew(20deg);
  box-sizing: border-box;
  padding-left: 50px;
  padding-bottom: 7px;
}

// Hide the browser's default checkbox
.filterCheckbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	// height: 32px;
}

.filterCheckbox[disabled] {
	cursor: default;
}

.filterCheckbox[disabled] +.FilterBKG {
		cursor: default;
		+ p {
			cursor: default;
		}
}

// When the checkbox is checked, add a blue background
.filterCheckbox:checked + .FilterBKG {
	background-position: -100% 0;
	.checkmark {
		background-color: $mainDark;
		border: 1px solid $mainDark;

		// Show the checkmark when checked
		&:before {
			display: block;
		}
	}
	// recolor the label white
	+ p {
		color: white;
	}
}


// Create a custom checkbox
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 35px;
	transform: skew(-20deg);
	background-color: #FFF;
	box-sizing: border-box;
	border: 1px solid lighten($mainLight, 15%);
	border-width: 0 1px;
	transform: skew(0);
	transition: background-color .5s ease-in, border .2s ease-in;

	// Create the checkmark/indicator (hidden when not checked)
	&:before {
		content: "";
		position: absolute;
		display: none;
		left: 12px;
		top: 7px;
		width: 6px;
		height: 12px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(50deg) skew(20deg);
		-ms-transform: rotate(50deg) skew(20deg);
		transform: rotate(50deg) skew(20deg);
	}
}


// div to change color on sibling input with pure CSS
.FilterBKG {
	width: 100%;
	// background-color: lighten($mainLight, 15%);
	background-color: #FFF;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 32px;
	transform: skew(-20deg);
	z-index: -1;
  box-sizing: border-box;

	// sliding grey to blue bkg on click
  background-size: 200% 100%;
	background-image: linear-gradient(to right, #FFF 50%, $mainDark 50%);
	transition: background-position .5s ease-out;
	-webkit-transition: background-position .5s ease-out;
	-moz-transition: background-position .5s ease-out;

}
.filterCheckbox + .FilterBKG + p {
	text-indent: -5px;
}


$greyedOutFilters: #d5d5d5;
.selectorButton {
	margin-top: 20px;
	.FilterBKG {
		// background-image: linear-gradient(to right, #FFF 50%, lighten($mainDark, 12%) 50%);
		border-radius: 5px;
	}
	.filterCheckbox + .FilterBKG {
		.checkmark {
			border-radius: 5px;
		}
	}
	.filterCheckbox:checked + .FilterBKG {
		.checkmark {
			// background-color: lighten($mainDark, 12%);
			// border: 1px solid lighten($mainDark, 12%);
			&:before {
				border-color: $greyedOutFilters;
			}
		}
		+ p {
			color: $greyedOutFilters;
		}
	}
}

.selectorButton:nth-last-of-type(2) {
	grid-column: 1 / 2;
}
.selectorButton:last-of-type {
	grid-column: 2 / 3;
	width: 90%;
}


#ManagmentButtons {
	width: 100%;
	display: flex;
	padding: 10px;
	background-color: white;
	flex-direction: row-reverse;
	button {
		margin: 0 5px;
		border: 1px solid $mainLight;
	}
	.filtersApplied {
		background-color: $mainDark;
		color: white;
	}
}

#FilterContainer, #SortContainer {
	width: 100%;
	position: absolute;
	transition: transform .4s ease-out;
	display: block;
}

.shrinkToHide#FilterContainer, .shrinkToHide#SortContainer {
	// translate pixels are roughly half of filterGrid height
	transform: translate(0, -50%) scale(1, 0) skew(0deg);
}

.gallery {
	display: grid;
	grid-template-columns: 80vw;
	width: 100%;
	transition: all .4s;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	position: relative;
  top: 15px;
}

.pushedDown {
	// TODO: maybe make this better?;
	top: 250px;
}



.projGridCell {
	width: 80vw;
	height: 315px;
}

.proj {
  width: 80vw;
  height: 315px;
  cursor: pointer;
	box-shadow: 0px 2px 5px lighten($mainDark, 50%);
  background-color: white;
  color: black;

  &:hover{
		box-shadow: 0px 5px 6px lighten($mainDark, 50%);
		.projReadMore {
			text-decoration: underline;
		}
	}

  h4, p {
		margin-left: 5%;
		margin-top: 2%;
	}
	h4 {
		width: 80%;
		font-size: 18pt;
	}

	div[data-inverse-flip-id] {
		width: 100%;
	}
	.projInfo {
		width: 100%;
		height: 100%;
	  min-height: 315px;
		position: relative;
		transition: box-shadow 0.5s;
		background-color: white;
	}
	p.projDescription {
	  overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-indent: 0;
		width: 80%;
		margin-bottom: 13%;
	}
	.coverPhotoContainer {
		width: 100%;
		height: 120px;
		overflow: hidden;
	}
	.projCoverPhoto {
		width: 100%;
		object-fit: cover;
		position: relative;
		top: -35px;
	}

	.projTags {
		margin-top: 5%;
		margin-left: 5%;
		li {
			font-size: 12pt;
			color: #FFF;
			background-color: $mainDark;
			display: inline-block;
	    border-radius: 10px;
	    padding: 2px 10px;
	    margin-right: 5px;
	    margin-bottom: 2%;
		}
	}
	.projClose {
		transition: transform 0.6s;
		transform: scale(0, 0);
		display: block;
		right: 0;
		position: absolute;
	}
	.projReadMore {
		transition: opacity 0.5s;
		opacity: 1;
		float: right;
		padding: 3px 5px;
	  margin: 10px;
	  position: absolute;
	  bottom: -1px;
	  right: 5px;
	  color: $mainDark;
	}
}

.proj.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  z-index: 20;
  .coverPhotoContainer {
		width: 100%;
		height: auto;
		overflow: visible;
	}
	.projClose {
		padding: 30px;
		cursor: pointer;
		z-index: 21;
		transform: scale(1, 1);
	}
	.projInfo {
  	height: 100vh;
  	overflow-y: scroll;
		overflow-x: hidden;
  	// box-shadow: 2px 0px 10px 1px rgba(67,75,99,0.5);
  	p.projDescription {
			overflow: visible;
			white-space: normal;
			text-indent: 5%;
  	}
	}
	.projReadMore {
		opacity: 0;
	}

	// begin specific cover image adjustments
	#emberCoverIMG, #fooyaCoverIMG {
		max-width: none;
	}
	// end specific cover image adjustments
}

// begin specifc cover image adjustments
#emberCoverIMG {
  max-width: 310px;
  left: 5%;
  top: -10px;
}
#fooyaCoverIMG {
	width: 90%;
	max-width: 310px;
}
// end specific cover image adjustments

#resume{
	height: 70vh;
	margin-bottom: 20vh;
}

#resume-embed{
	width: 100%;
	height: 100%;
}

#resume-footer{
	margin-top: 30%;
}

#languages{
	margin-left: 10%;
}

#thoughts-header{
	text-align: center;
	color: #000;
}

#thoughts-header-ctn{
	background-image: url(../img/penPaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 50%;
	line-height: 35vh;
	margin-bottom: 10%;
	border-radius: 10px;
}

#footer-logo{
	display: inline-block;
	margin: auto;
	width: 30%;
	position: absolute;
	bottom: 15%;
	left: 30%;
}

#cpp-box{
	background: url(../img/cpp.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#python-box{
	background-image: url(../img/Python.png);
}

#html-box{
	background-image: url(../img/html5.png);
	margin-top: 5px;
	height: 60%;
}

#css-box{
	background-image: url(../img/sass.png);
}

#js-box{
	background-image: url(../img/JavaScript-logo.png);
}

#ai-box{
	background-image: url(../img/illustratorLogo.png);
	height: 65%;
}

#ps-box{
	background-image: url(../img/photoshop.png);
	height: 65%;
}

#sql-box{
	background-image: url(../img/sqlIcon.png);
	height: 65%;
}

#phone-box{
	background-image: url(../img/phoneIcon.png);
}

#email-box{
	// background-image: url(../img/gmailIcon.png);
}

.titleBar{
	box-sizing: border-box;
	display: inline-block;
	background-color: $mainDark;
	border-style: solid;
	border-width: 0px;
	width: 100%;
	color: #FFF;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-size: 2em;
	transition: all 400ms;
}

#menu-container{
	display: inline-block;
	position: fixed;
	top: 0px;
	width: 50vw;
	height: 100vh;
	z-index: 10;
	transition: all 600ms;
	background-color: darken($mainDark, 10%);
	font-family: 'Montserrat', 'Lato', sans-serif;
	color: #FFF;
	a {
		color: #FFF;
		:hover {
			h2 {
				text-decoration: underline;
			}
		}

		li {
			font-size: 14pt;
			padding: 10%;
			border-bottom: 1px solid white;

			h2{
				font-family: 'Lato', sans-serif;
				font-weight: 300;
			}
		}

		#navhome{
			border-top: 1px solid white;
			clear: right;
		}
	}
}


.current-page{
	background-color: $mainLight;
	color: $mainDark;
}

.bodyCover, .projBodyCover {
	display: inline-block;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 7;
	height: 100vh;
	width: 100vw;
	transition: all 100ms;
	background-color: rgba(169,169,169,0.5);
}

.projBodyCover {
	z-index: 19;
	opacity: 0;
	transition: opacity 1s;
	display: none;
}


.hidden {
	display: none;
}

.transOpacity {
	transition: opacity 1s;
}

.fullOpacity {
	opacity: 1;
}

.noOpacity {
	opacity: 0;
}

.hiddenRight {
	right: -1000px;
}

.fullWidth {
	width: 100%;
}

.noWidth {
	width: 0;
}

.noHeight {
	height: 0;
}
.autoHeight {
	height: auto;
}

.openNav {
	right: 0px;
}

.content{
	transition: all 400ms;
	width: 80%;
	padding: 15% 10%;
	#profpic{
		position: relative;
		float: right;
		width: 40%;
		margin-left: 5%;
		max-width: 330px;
		img{
			width: 100%;
			border-radius: 5px;
		}
	}
	p{
		width: 100%;
		text-indent: 5%;
	}
	&#contactContent {
		width: 100vw;
		margin: 0;
		margin-top: 15%;
		h3 {
			margin-left: 10vw;
		}
	}
	&#homeContent {
		width: 100%;
		padding: 0;
	}
}

#ProjectComponent {
	width: 100%;
}

#FilterManager {
	width: 100%;
	position: relative;
}

#searchBar {
	width: 100%;
	height: 50px;
	background-color: lighten($mainLight, 10%);
	margin: 3% auto;
	position: relative;
	transform: skew(20deg);
	z-index: 4;
}

#query {
	width: 80%;
	font-size: 130%;
	position: absolute;
	left: 20px;
	transform: skew(-30deg);
	border: none;
	background-color: lighten($mainLight, 10%);
	padding: 10px 0 10px 5px;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-weight: 300;
	color: $mainDark;
	margin-top: 2px;
}

#query:hover {
	background-color: lighten($mainLight, 20%);
}

#query:focus {
	background-color: #FFF;
}


#searchBar:hover {
	background-color: lighten($mainLight, 15%);
}

::placeholder {
	color: darken($mainDark, 10%);
	opacity: 0.75;
}

.disp-grid{
	grid-row-gap: 10px;
	display: grid;
	#skills-grid{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1fr, 8);
	}
	#contact-grid{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1fr, 2);
	}
}

.two-disp-grid{
	grid-row-gap: 10px;
	display: grid;
	grid-template-columns: 1fr;
}

#emailCell {
	&:hover {
		cursor: pointer;
	}
	#email-info {
		border: none;
		text-align: center;
		font-family: 'Montserrat', 'Lato', sans-serif;
		font-size: 14pt;
		background-color: $mainDark;
	}
}

.grid-cell{
	width: 80%;
	margin: auto;
	height: 120px;
	max-width: 420px;
	display: block;
	box-shadow: 0px 0px 5px rgba(141, 141, 139, .75);
	position: relative;
	&:nth-of-type(odd) {
		transform: skew(20deg);
		.sub-grid-cell, .bkg-cell {
			margin-left: 5%;
			transform: skew(-20deg);
			text-indent: -20%;
		}
	}
	&:nth-of-type(even) {
		transform: skew(-20deg);
		margin-top: 25%;
		.sub-grid-cell, .bkg-cell {
			margin-left: -5%;
			transform: skew(20deg);
			text-indent: 20%;
		}
	}
}

.wide-grid-cell {
	width: 100%;
	background-color: $mainDark;
	color: white;
	h4, input {
		color: white;
    -webkit-text-fill-color: white;
	}

}

.sub-grid-cell{
	width: 100%;
	height: 2em;
	line-height: 2em;
	position: absolute;
	bottom: 0px;
	left:0px;
	text-align: center;
	color: $mainDark;
}

.bkg-cell{
	width: 100%;
	height: 70%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	img {
		width: 20%;
	}
}

.footer-nav{
	width: 40%;
	margin: 3%;
	ul{
		list-style-type: none;
		li{
			padding: 1px;
		}
	}
}

.footer-info{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
	margin: 3%;
	text-align: right;
	line-height: 100%;
}

footer{
	box-sizing: border-box;
	position: relative;
	background-color: #FFF;
	border-style: solid;
	border-color: $mainDark;
	border-width: 0px;
	border-top-width: 1px;
	width: 100%;
	color: $mainDark;
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-size: 10pt;
	margin: auto;
	margin-top: 20%;

	img{
		display: inline-block;
		margin: auto;
		width: 30%;
		position: absolute;
		bottom: 15%;
		left: 30%;
	}

}
