$mainDark: #434B63;
$mainLight: #B3BBC5;

@media only screen and (max-width: 400px){
	.content {
		margin-top: 90px;
	}
	#searchForm {
		#query {
			font-size: 110%;
			width: 80%;
		    padding-bottom: 12px;
		}
	}
	#searchBar {
		min-height: 50px;
	}
	.FilterBKG + p {
		font-size: 80%;
	}
}

@media only screen and (min-width: 650px){
	#menu-container{
		width: 80%;
		height: auto;
		position: static;
		background-color: #FFF;
		text-align: right;
	    box-sizing: border-box;
	    float: right;
	    padding-top: 3%;
	    padding-right: 2%;
		a {
			li {
				width: auto;
				padding: 0;
				div {
					font-size: 60%;
					border: 1px solid $mainDark;
					transform: skew(-20deg);
					h2 {
						color: $mainDark;
						padding: 6px 14px;
						transform: skew(20deg);
					}
				}
			}

		}
	}
	.current-page{
		background: none;
		div {
			background-color: lighten($mainLight, 15%);
			transform: skew(20deg);
			h2 {
				transform: skew(20deg);
			}
		}
	}

	.content{
		// top: 90px;
	}

	#homelink{
		img{
			width: 40%;
			height: auto;
		}
	}

	#filterGrid {
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}

	.FilterLabel {
		width: 100%;
	}

	.FilterBKG{
		width: 95%;
	}

	#toggle{
		display: none;
	}

	#close{
		display: none;
	}

	#menu{
		ul{
			// margin-bottom: 2%;
			li{
				margin: 10px;
				margin-bottom: 5px;
				border: 0;
				display: inline-block;
			}
		}
	}

	#footer-logo{
		left: 35%;
		bottom: 0;
		top: 0;
	}

	#skills-grid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 5px;
		.grid-cell{
			grid-column: 1 / 2;
		}
		.grid-cell:nth-of-type(2n){
			grid-column: 2 / 3;
			grid-column-gap: 5px;
		}
	}

	.two-disp-grid{
		grid-template-columns: 1fr 1fr;
	}

	#contact-grid{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	#titleLink {
		width: 20%;
	}

	.titleBar{
		position: relative;
	}
	#query {
		width: 90%;
	}
	.shrinkToHide#FilterContainer {
		transform: translate(0, -45px) scale(1, 0) skew(0deg);
	}
}

@media only screen and (min-width: 1000px){

	.content{
		// top: 160px;
		margin-bottom: 5%;
	}

	#filterGrid {
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 6px;
	}

	#skills-grid{
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 5px;

		.grid-cell:nth-of-type(2n+5){
			grid-column: 3 / 4;
		}
		.grid-cell:nth-of-type(2n+6){
			grid-column: 4 / 5;
		}
		.grid-cell:nth-of-type(5){
			grid-row: 1 / 2;
		}
		.grid-cell:nth-of-type(6){
			grid-row: 1 / 2;
		}
	}

	// #homelink{
	// 	left: 0px;
	// }
	#homelink{
		img{
			width: 70%;
		}
	}

	#titleLink{
		width: 20%;
	}

	#contact-grid{
		h4{
			grid-row: 1 / 2;
		}
		grid-template-rows: 0.25fr 1fr;
		grid-template-columns: 1fr 1fr;
		a{
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		a:nth-of-type(2){
			grid-column: 2;
		}
	}

	footer{
		margin-top: 10%;
	}

	#resume-footer{
		margin-top: 10%;
	}

	#footer-logo{
		top: 15px;
	}

	.shrinkToHide#FilterContainer {
		transform: translate(0, -20px) scale(1, 0) skew(0deg);
	}

}

@media only screen and (min-width: 1200px){
	#footer-logo{
		width: 20%;
		left: 40%;
		top: 15px;
	}
}